<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h1>Driver Expenses</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Second Name</th>
    <th>CNP</th>
    <th>Truck Number Plate</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Info</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @driver.FIRSTNAME %></td>
    <td><%= @driver.SECONDNAME %></td>
    <td><%= @driver.CNP %></td>
    <td><%= @truck.NB_PLATE %></td>
    <td><%= @driver_expense.DATE %></td>
    <td><%= @driver_expense.AMOUNT %></td>
    <td><%= @driver_expense.INFO %></td>
    <td><%= @driver_expense.DESCRIPTION %></td>
  </tr>
</table>


<br>

<table>

<% @driver_expense.images.each_with_index do |image,index| %>

<% if (index+1)%6 == 0 %>
     <tr>
<% end %>

<td> 
<% if false %>
  <%= image_tag(url_for(image), height: '200', width: '200') %>
<% end %>
        
        <% if  (image.blob!=nil and image.previewable?) %>
          <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200') %>
        
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

       <% elsif (image.blob !=nil and image.variable?)  %> 
         <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
     
       <% if false %>
       <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
       <% end %>

       <% else  %> 
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      <% end %>
  <br>


    


  <%if image.blob !=nil  %>     
   <%= link_to 'Download', image, download: image %>
   <br>
   <%= link_to 'Remove', delete_image_driver_expense_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
 <% end %>

</td>


<% if (index+1)%6 == 0 %>
     </tr>
<% end %>


<% end %>

</table>

<br>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_driver_expense_path(@driver_expense) %> |
<%= link_to 'Back', driver_expenses_path %>
</body>
</html>


