<p id="notice"><%= notice %></p>

<h1>Periodics Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periodics_categories.each do |periodics_category| %>
      <tr>
        <td><%= periodics_category.name %></td>
        <td><%= link_to 'Show', periodics_category %></td>
        <td><%= link_to 'Edit', edit_periodics_category_path(periodics_category) %></td>
        <td><%= link_to 'Destroy', periodics_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Periodics Category', new_periodics_category_path %>
