<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="field">
    <%= form.label :"Invoice ID" %>
    <%= form.text_field :name, id: :invoice_name %>
  </div>

  <div class="field">
    <%= form.label :"Info (for example: 12gb/304503 or Week34)" %>
    <%= form.text_field :info, id: :invoice_info %>
  </div>

<% if false %>
  <div class="field">
    <%= form.label :client_id %>
    <%= form.number_field :client_id, id: :invoice_client_id %>
  </div>
<% end %>

 <div class="field">
<%= form.collection_select :client_id, Client.all.where(:active => true), :id, :Name, {prompt: "Client Name"}, :required => 'required' %>
</div>

  <div class="field">
    <%= form.label :"vat(%)" %>
    <%= form.text_field :vat, id: :invoice_vat %>
  </div>

 <div class="field">
    <%= form.label :"amount" %>
    <%= form.text_field :amount, id: :amount, :required => 'required' %>
  </div>


 <div class="field">
  <%= form.label :currency_id %>
  <%= form.collection_select :currency_id, Currency.all, :id, :name, {prompt: "Currency"}, :required => 'required' %>
</div>

</fieldset>


<fieldset>
 <div class="field">
    <%= form.label :"Issue Date - DATA EMITERII" %> 
    <%= form.date_select :date, id: :invoice_date %>
  </div>


 <% if invoice.ddate == nil or  invoice.ddate == Date.new(2000,1,1) %>
   <div class="field">
    <%= form.label :"Due Date" %> 
    <%= form.date_select :ddate, id: :invoice_ddate, selected: Date.new(2000,1,1), start_year: Time.now.year+1, end_year: Time.now.year-50 %>
   </div>
 <% else %>
   <div class="field">
    <%= form.label :"Due Date - DATA SCADENTEI" %> 
    <%= form.date_select :ddate, id: :invoice_ddate, start_year: Time.now.year+1, end_year: Time.now.year-50 %>
   </div>
  <% end %>
</fieldset>


<fieldset>
 <div class="field">
    <%= form.label :paid, 'Mark if PAID'  %>
    <%= form.check_box :paid, id: :paid%>
  </div>
 
  <div class="field">
    <%= form.label :"Collection Date - DATA INCASARII" %> 
    <%= form.date_select :collection_date, id: :invoice_collection_date,  start_year: Time.now.year-1, end_year: Time.now.year+1 %>
   </div>
</fieldset>
<p><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
