<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<fieldset>
  <p>Introduce the start/end date interval and client:</p>  
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission4_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :client_id, Client.all, :id, :Name, {:include_blank => 'All Clients'} %>
        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>
  </br>
</fieldset>
 <p> </p> 
<p> </p> 

<fieldset>
<p>Selected list of trips:</p>  



<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Name</th>
      <th>Info</th>
      <th>Date</th>
      <th>Client</th>
      <th>VAT(%)</th>
      <th>Amount(€)</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each_with_index do |invoice,j| %>
      <tr>
<% if invoice.created_at.to_date == Time.now.utc.to_date%>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-1%>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-2%>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-3%>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-4%>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-5%>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-6%>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-7%>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.total_amount %></td>
<% else %>
        <td><%= j+1 %></td>
        <td><%= invoice.name %></td>
        <td><%= invoice.info %></td>
        <td><%= invoice.date %></td>
        <td><%= @clients.find(invoice.client_id).Name %></td>
        <td><%=  invoice.vat %></td>
        <td><%= invoice.total_amount %></td>
<% end %>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Print', invoices_print_path(:id => invoice.id, :format => "pdf"), method: :post %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
