<p id="notice"><%= notice %></p>

<% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
<fieldset>
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission4_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :client_id, Client.all, :id, :Name, {:include_blank => 'All Clients'} %>
        <%= collection_select :search, :status, @search.arrayE, :id, :name %>
        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>
</fieldset>
<fieldset>
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission4_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :client_id, Client.find_by_sql(['SELECT * FROM clients where clients.active = ? 
                    ORDER BY clients.Name ASC', true]), :id, :Name, {:include_blank => 'Active Clients'} %>

        <%= collection_select :search, :status, @search.arrayE, :id, :name %>
        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>
</fieldset>

<% end %> 


<% if (current_user != nil and current_user.email.eql? "ameropa.logistics@yahoo.com") %> 
<h1>Invoices</h1>

<fieldset>
  <p>Introduce the start/end date interval and client:</p>  
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission4_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :client_id, Client.find_by_sql(['SELECT * FROM clients where clients.active = ? 
                    ORDER BY clients.Name ASC', true]), :id, :Name, {:include_blank => 'Active Clients'} %>

        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>
  </br>
</fieldset>

<% end %> 

 <p> </p> 
<p> </p> 
<fieldset>
<p><%= link_to 'New Invoice', new_invoice_path %></p>
<p>Total amount: <%= @total_price %>  </p>  
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Name</th>
      <th>Info</th>
      <th>Issue Date</th>
      <th>Due Date</th>
      <th>Collection Date</th>
      <th>Client</th>
      <th>VAT(%)</th>
      <th>Amount(€)</th>
      <th>Paid</th>

      <% if false %>    
         <% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %>    
            <th colspan="8"></th>
         <% else %>
            <th colspan="7"></th>
         <% end %>
      <% end %>

      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
<% if @invoices != nil  %>    
    <% @invoices.each_with_index do |invoice,j| %>
      <tr>
<% if invoice.created_at.to_date == Time.now.utc.to_date%>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.collection_date %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-1%>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.collection_date %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00f9fe" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-2%>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.collection_date %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00eeed" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-3%>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.collection_date %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00dbdd" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-4%>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.collection_date %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00cbcd" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-5%>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.collection_date %></td>
        
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00bdbf" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-6%>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.collection_date %></td>
        
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#00a7a3" style="font-weight:bold"><%= invoice.total_amount %></td>
<% elsif invoice.created_at.to_date == Time.now.utc.to_date-7%>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= j+1 %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.name %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.info %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.date %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.ddate %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.collection_date %></td>
        
        <td bgcolor="#008d8c" style="font-weight:bold"><%= @clients.find(invoice.client_id).Name %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%=  invoice.vat %></td>
        <td bgcolor="#008d8c" style="font-weight:bold"><%= invoice.total_amount %></td>
<% else %>
        <td><%= j+1 %></td>
        <td><%= invoice.name %></td>
        <td><%= invoice.info %></td>
        <td><%= invoice.date %></td>
        <td><%= invoice.ddate %></td>
        <td><%= invoice.collection_date %></td>

        <td><%= @clients.find(invoice.client_id).Name %></td>
        <td><%=  invoice.vat %></td>
        <td><%= invoice.total_amount %></td>
<% end %>
  



<% if invoice.paid == true %>
        <td bgcolor="#b6f746" style="font-weight:bold"><%= "PAID" %></td>
<% else%>
        <td bgcolor=" #f48f5d" style="font-weight:bold"><%= "NOT" %></td>          
<% end %>




        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Print', invoices_print_path(:id => invoice.id, :format => "pdf"), method: :post %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    

  <% if current_user != nil and (current_user.email.eql?  "ameropa.logistics@yahoo.com" or  (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com")) %>   

   
    <% if invoice.sent == true %>
        <td bgcolor=yellow style="font-weight:bold"> <font color=red>Invoice Sent </font></td>
    <% else %>
        <% if invoice.printed == true %>
          <td><%= link_to 'SendEmail', invoices_email_path(:id => invoice.id,  :format => "pdf") , method: :post, data: {confirm: 'Are you sure?'} %></td>
        <% else %>
          <td bgcolor=yellow style="font-weight:bold"> <font color=black>Print Invoice and Reload Page Before Send </font></td>
        <% end %>
    <% end %>
  <% end %>
      </tr>
    <% end %>

    <% end %>  
  </tbody>
</table>
<br>