<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invoice.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @invoice.info %>
</p>

<p>
  <strong>Issue Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @invoice.client_id %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @invoice.vat %>
</p>

<p>
  <strong>Value Amount in EURO:</strong>
  <%= @invoice.total_amount %>
</p>

<p>
  <strong>Value Amount in <%= Currency.where(:id=>@invoice.currency_id)[0]["name"] %> (<%= Currency.where(:id=>@invoice.currency_id)[0]["symbol"] %>):</strong> 
  <%= @invoice.amount %>
</p>

 <% if @invoice.ddate != nil %>


<p>
  <strong>Due Date:</strong>
  <%= @invoice.ddate %>
</p>


<p>
  <strong>Collection Date:</strong>
  <%= @invoice.collection_date %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @invoice.paid %>
</p>

<% end if  %>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
