<p id="notice"><%= notice %></p>

<p>
  <strong>Nb plate:</strong>
  <%= @truck.NB_PLATE %>
</p>

<p>
  <strong>Info:</strong>
  <%= @truck.INFO %>
</p>


<br>

<table>
  <% @truck.images.each_with_index do |image,index| %>

  <% if (index+1)%6 == 0 %>
     <tr>
  <% end %>

 <%=  image.filename.to_s %>
  <td> 
  <% if false %>
    <%= image_tag(url_for(image), height: '200', width: '200') %>
  <% end %>
        
        <% if  (image.blob!=nil and image.previewable?) %>

          <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200') %>
        
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

       <% elsif (image.blob !=nil and image.variable?)  %> 
         <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
     
       <% if false %>
       <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
       <% end %>

       <% else  %> 
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      <% end %>
  <br>


  <%if image.blob !=nil  %>     
   <%= link_to 'Download', image, download: image %>
   <br>
   <%= link_to 'Remove', delete_image_truck_expense_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
 <% end %>

</td>

<% if (index+1)%6 == 0 %>
     </tr>
<% end %>

<% end %>

</table>



<br>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
