<%= form_with(model: invoiced_trip, local: true) do |form| %>

<fieldset>

    <legend>
<h3>New Invoiced Trip</h3>
</legend>
  
  <% if invoiced_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoiced_trip.errors.count, "error") %> prohibited this invoiced_trip from being saved:</h2>

      <ul>
      <% invoiced_trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label :invoice_id, 'Invoice ID' %>
    <%= form.text_field :invoice_id, id: :invoiced_trip_invoice_id, :required => 'required' %>
  </div>

 <%= form.collection_select :client_id, Client.all, :id, :Name, {prompt: "Client Name"}, :required => 'required' %>
 <%= form.collection_select :truck_id, Truck.all, :id, :NB_PLATE, {prompt: "Truck Nb Plate"}, :required => 'required' %>
 <%= form.collection_select :DRIVER_id, Driver.all, :id, :name_with_cnp, {prompt: "Driver Name and CNP"}, :required => 'required'%>

  <div class="field">
    <%= form.label :germany_toll %>
    <%= form.text_field :germany_toll, id: :invoiced_trip_germany_toll %>
  </div>

  <div class="field">
    <%= form.label :belgium_toll %>
    <%= form.text_field :belgium_toll, id: :invoiced_trip_belgium_toll %>
  </div>

  <div class="field">
    <%= form.label :swiss_toll %>
    <%= form.text_field :swiss_toll, id: :invoiced_trip_swiss_toll %>
  </div>

  <div class="field">
    <%= form.label :france_toll %>
    <%= form.text_field :france_toll, id: :invoiced_trip_france_toll %>
  </div>

  <div class="field">
    <%= form.label :italy_toll %>
    <%= form.text_field :italy_toll, id: :invoiced_trip_italy_toll %>
  </div>

  <div class="field">
    <%= form.label :uk_toll %>
    <%= form.text_field :uk_toll, id: :invoiced_trip_uk_toll %>
  </div>

  <div class="field">
    <%= form.label :netherlands_toll %>
    <%= form.text_field :netherlands_toll, id: :invoiced_trip_netherlands_toll %>
  </div>

  <div class="field">
    <%= form.label :km %>
    <%= form.number_field :km, id: :invoiced_trip_km, :required => 'required' %>
  </div>


  <div class="field">
    <%= form.label :km_evogps %>
    <%= form.number_field :km_evogps, id: :invoiced_trip_km_evogps, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :km_driver_route_note %>
    <%= form.number_field :km_driver_route_note, id: :invoiced_trip_km_driver_route_note %>
  </div>


  <div class="field">
    <%= form.label :StartDate, 'Trip Start Date' %>
    <%= form.date_select :StartDate, id: :invoiced_trip_StartDate, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :EndDate, 'Trip End Date' %>
    <%= form.date_select :EndDate, id: :invoiced_trip_EndDate, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :date, 'Invoice Date' %>
    <%= form.date_select :date, id: :invoiced_trip_date, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount, id: :invoiced_trip_total_amount %>
  </div>





  <div class="actions">
    <%= form.submit %>
  </div>

  </fieldset>

<% end %>
