<%= form_with(model: invoiced_trip, local: true) do |form| %>


<% if @invoiced_trip.typeT == 0 %>
  <h2>New Invoiced Trip</h2>
<% else %>
  <h2>New Sold Vehicle</h2>
<% end %>

  <% if invoiced_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoiced_trip.errors.count, "error") %> prohibited this invoiced_trip from being saved:</h2>

      <ul>
      <% invoiced_trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<% if @invoiced_trip.typeT == nil or @invoiced_trip.typeT == 0 %>

<% if false %>
 <div class="field">
    <%= form.label :invoice_id, 'Invoice ID' %>
    <%= form.text_field :invoice_id, id: :invoiced_trip_invoice_id, :required => 'required' %>
  </div>
<% end %>

 <%= form.collection_select :invoice_id, Invoice.all, :id, :name, {prompt: "Invoice"}, :required => 'required' %>

 <%= form.collection_select :client_id, Client.all, :id, :Name, {prompt: "Client Name"}, :required => 'required' %>
 <%= form.collection_select :truck_id, Truck.all, :id, :NB_PLATE, {prompt: "Truck Nb Plate"}, :required => 'required' %>

 <%= form.collection_select :DRIVER_id, Driver.all, :id, :name_with_cnp, {prompt: "Driver Name and CNP"}, :required => 'required'%>

 <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info, id: :invoiced_trip_info %>
  </div>

  <div class="field">
    <%= form.label :germany_toll %>
    <%= form.text_field :germany_toll, id: :invoiced_trip_germany_toll, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :belgium_toll %>
    <%= form.text_field :belgium_toll, id: :invoiced_trip_belgium_toll, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :swiss_toll %>
    <%= form.text_field :swiss_toll, id: :invoiced_trip_swiss_toll, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :france_toll %>
    <%= form.text_field :france_toll, id: :invoiced_trip_france_toll, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :italy_toll %>
    <%= form.text_field :italy_toll, id: :invoiced_trip_italy_toll, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :uk_toll %>
    <%= form.text_field :uk_toll, id: :invoiced_trip_uk_toll, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :netherlands_toll %>
    <%= form.text_field :netherlands_toll, id: :invoiced_trip_netherlands_toll, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :trailer_cost %>
    <%= form.text_field :trailer_cost, id: :invoiced_trip_trailer_cost, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :bridge %>
    <%= form.text_field :bridge, id: :invoiced_trip_bridge, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :parking %>
    <%= form.text_field :parking, id: :invoiced_trip_parking, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :tunnel %>
    <%= form.text_field :tunnel, id: :invoiced_trip_tunnel, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :km %>
    <%= form.text_field :km, id: :invoiced_trip_km, :required => 'required' %>
  </div>


  <div class="field">
    <%= form.label :km_evogps %>
    <%= form.text_field :km_evogps, id: :invoiced_trip_km_evogps, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :km_driver_route_note %>
    <%= form.text_field :km_driver_route_note, id: :invoiced_trip_km_driver_route_note, :required => 'required' %>
  </div>


  <div class="field">
    <%= form.label :StartDate, 'Trip Start Date' %>
    <%= form.datetime_select :StartDate, id: :invoiced_trip_StartDate, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :EndDate, 'Trip End Date' %>
    <%= form.datetime_select :EndDate, id: :invoiced_trip_EndDate, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :date, 'Invoice Date' %>
    <%= form.date_select :date, id: :invoiced_trip_date, :required => 'required' %>
  </div>

<% if false %>
  <div class="field">
    <%= form.label :"surcharge" %>
    <%= form.text_field :surcharge, id: :surcharge, :required => 'required' %>
  </div>
<% end %>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount, id: :invoiced_trip_total_amount, :required => 'required' %>
  </div>

  <p>

    <div class="form_group">

    <%= form.label :name, 'You can introduce multiple trip pdf/jpg files at once.' %>
    <%= form.file_field :images, multiple: true %>
  </div>
 


<% else %>
 <%= form.collection_select :invoice_id, Invoice.all, :id, :name, {prompt: "Invoice"}, :required => 'required' %>

 <%= form.collection_select :client_id, Client.all, :id, :Name, {prompt: "Client Name"}, :required => 'required' %>




<div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :brand %>
  </div>


<div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :model %>
  </div>


<div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin, id: :vin %>
  </div>


  <div class="field">
    <%= form.label :km_usage %>
    <%= form.text_field :km_usage, id: :invoiced_trip_km_usage %>
  </div>

  <div class="field">
    <%= form.label :shipper %>
    <%= form.text_field :shipper, id: :shipper %>
  </div>

 <p>
  
  <div class="form_group">
    <%= form.label :name, 'Introduce bill of lading.' %>
    <%= form.file_field :bill_of_lading, multiple: true %>
  </div>

  <p>
  <div class="form_group">
    <%= form.label :name, 'Introduce export document.' %>
    <%= form.file_field :export_document, multiple: true %>
  </div>
 <p>
  <div class="form_group">
    <%= form.label :name, 'Introduce vehicle photos' %>
    <%= form.file_field :images, multiple: true %>
  </div>
 
<% end %>
 
<p>
 
<div class="actions">
    <%= form.submit %>
  </div>



<% end %>
