<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>
<h1>Invoiced Trips</h1>
<h4>This page is dedicated to Invoiced Trips description - you can see the existent list of invoiced trips modify them or introduce new ones.</h4>
<ul>
 
  <li>
  <p>
  <h4> Download All Invoiced Trips as CSV or Excel file:
  <%= link_to "CSV", invoiced_trips_path(format: "csv") %> |
  <%= link_to "Excel", invoiced_trips_path(format: "xls") %> 
  </h4> 
  </p>
  </li>

  <li>
  <div>
  <h4> Import Invoiced Trips from CSV file: </h4>
    <%= form_tag import_invoiced_trips_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag  "Import CSV"%>
  <% end %>
  </div>
  </li>

  <li>
    <p>
      <h4> Create <%= link_to 'New Invoiced Trip ',new_invoiced_trip_path %> </h4> 
    </p>
  </li>

</ul>


<% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 

<fieldset>
  <p>Introduce the start/end date interval, driver and truck:</p>  
 
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission3_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :driver_id, Driver.all.order('"FIRSTNAME" ASC'), :id, :name_with_cnp, {:include_blank => 'All Drivers'} %>
        <%= collection_select :search, :truck_id, Truck.all, :id, :NB_PLATE, {:include_blank => 'All Trucks'} %>
        <%= collection_select :search, :client_id, Client.all, :id, :Name, {:include_blank => 'All Clients'} %>
        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>                                                                                                                                                      
 </fieldset>       

<fieldset>
  <p>Introduce the start/end date interval, driver and truck:</p>  

   <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission3_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :driver_id, Driver.all.order('"FIRSTNAME" ASC'), :id, :name_with_cnp, {:include_blank => 'Active Drivers'} %>
        <%= collection_select :search, :truck_id, Truck.find_by_sql(['SELECT * FROM trucks where trucks.active = ? 
                    ORDER BY trucks.NB_PLATE ASC', true]), :id, :NB_PLATE, {:include_blank => 'Active Trucks'} %>
        <%= collection_select :search, :client_id, Client.find_by_sql(['SELECT * FROM clients where clients.active = ? 
                    ORDER BY clients.Name ASC', true]), :id, :Name, {:include_blank => 'Active Clients'} %>
        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>                                                                                                                                                      

</fieldset>

<% end %>


<% if (current_user != nil and current_user.email.eql? "ameropa.logistics@yahoo.com") %> 
<fieldset>
  <p>Introduce the start/end date interval, driver and truck:</p>  

   <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission3_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :driver_id, Driver.all.order('"FIRSTNAME" ASC'), :id, :name_with_cnp, {:include_blank => 'Active Drivers'} %>
        <%= collection_select :search, :truck_id, Truck.find_by_sql(['SELECT * FROM trucks where trucks.active = ? 
                    ORDER BY trucks.NB_PLATE ASC', true]), :id, :NB_PLATE, {:include_blank => 'Active Trucks'} %>
        <%= collection_select :search, :client_id, Client.find_by_sql(['SELECT * FROM clients where clients.active = ? 
                    ORDER BY clients.Name ASC', true]), :id, :Name, {:include_blank => 'Active Clients'} %>
        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>                                                                                                                                                      

</fieldset>

<% end %>




 <p> </p> 
<p> </p> 

<fieldset>
  
  <% if @total_loss >= 0 %>
     <p style="font-size:18px;color:green"><b><mark> Total GAIN: <%= @total_loss %> km (<%= @total_loss_percentage.round(1) %> %)</mark> </b></p>  
  <% else %>
     <p style="font-size:18px;color:red">  <b><mark> Total LOSS: <%= @total_loss %> km (<%= @total_loss_percentage.round(1) %> %)</mark></b> </p>  
  <% end %>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>InvoiceID</th>
      <th>TripInfo</th>
      <th>InvoiceInfo</th>
      <th>Client Name</th>
      <% if false %>
      <th>Client ID</th>
      <% end %>
      <th>Driver Name</th>
      <th>Driver CNP </th>
      <% if false %>
      <th>Driver ID</th>
      <% end %>
      <th>Truck</th>
      <% if false %>
       <th>Truck ID</th>
      <% end %>
      <th>DE toll</th>
      <th>BE toll</th>
      <th>CH toll</th>
      <th>FR toll</th>
      <th>IT toll</th>
      <th>UK toll</th>
      <th>NL toll</th>
      <th>Bridge</th>
      <th>Parking</th>
      <th>Tunnel</th>
      <th>Trailer Rent</th>
      <th>Km Paid</th>
      <th>Km EvoGPS</th>
      <th>Km Loss</th>
      <th>Km Driver's Route Note</th>
      <th>Trip Start DateTime</th>
      <th>Trip End DateTime</th>
      <th>Invoice Date</th>
      <th>Diesel Surcharge</th>
      <th>Total amount</th>
      <th>Calculated Total amount</th>
      <th>Fotos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoiced_trips.each_with_index do |invoiced_trip, j| %>
      <tr>



<% if false %>

<% @pricing = Pricing.find_by_sql(["SELECT * FROM pricings where pricings.client_id = ? 
  and pricings.DATETIME <= ? order by pricings.DATETIME desc", invoiced_trip.client_id, invoiced_trip.StartDate ]) %>


<%invoiced_trip.update_attribute(:price_per_km, @pricing[0].price_per_km) %>
<%invoiced_trip.update_attribute(:surcharge, @pricing[0].surcharge) %>

<% end %>


<% if invoiced_trip.created_at.to_date == Time.now.utc.to_date%>
<td bgcolor="#b6f666" style="font-weight:bold"><%= (j+"1".to_i).to_s %></td>
<% if @invoices.find_by_id(invoiced_trip.invoice_id) != nil %>
  <td bgcolor="#b6f666" style="font-weight:bold"><%= @invoices.find(invoiced_trip.invoice_id).name %></td>
  <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.info %></td>

  <td bgcolor="#b6f666" style="font-weight:bold"><%= @invoices.find(invoiced_trip.invoice_id).info %></td>
<% else %>
  <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.invoice_id %></td>
  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= "-".to_s %></td>
<% end %>
<td bgcolor="#b6f666" style="font-weight:bold"><%= @clients.find(invoiced_trip.client_id).Name %></td>
<% if false %>
  <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.client_id %></td>
<% end %>
<td bgcolor="#b6f666" style="font-weight:bold"><%= @drivers.find(invoiced_trip.DRIVER_id).FIRSTNAME+" "+ @drivers.find(invoiced_trip.DRIVER_id).SECONDNAME %></td>
<td bgcolor="#b6f666" style="font-weight:bold"><%= @drivers.find(invoiced_trip.DRIVER_id).CNP %></td>
<% if false %>
    <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.DRIVER_id %></td>
<% end %>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= @trucks.find(invoiced_trip.truck_id).NB_PLATE %></td>
<% if false %>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.truck_id %></td>
<% end %>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.germany_toll %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.belgium_toll %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.swiss_toll %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.france_toll %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.italy_toll %></td>  
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.uk_toll %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.netherlands_toll %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.bridge %></td>  
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.parking %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.tunnel %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.trailer_cost %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.km %></td>

        <td bgcolor="#b6f666" style="font-weight:bold">
          <% if invoiced_trip.km_evogps != nil and invoiced_trip.km_evogps > 0 %>
                  <%= invoiced_trip.km_evogps %>
          `<% else %> 
                  <%=  @sum_km_activities = @activities.find_by_sql(['SELECT * FROM activities where invoiced_trip_id = ?', invoiced_trip.id]).to_a.map(&:km_evogps).inject(:+) %>
          <% end %>
        </td>

        <% if invoiced_trip.km_evogps != nil and invoiced_trip.km_evogps > 0 %>
              <% if invoiced_trip.km >= invoiced_trip.km_evogps %>
                  <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.km - invoiced_trip.km_evogps %></td>
              <% else %>
                  <td bgcolor="red" style="font-weight:bold"><%= invoiced_trip.km - invoiced_trip.km_evogps %></td>
              <% end %> 
        <% elsif @sum_km_activities != nil and @sum_km_activities > 0 %>
              <% if invoiced_trip.km >= @sum_km_activities %>
                  <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.km - @sum_km_activities %></td>
              <% else %>
                  <td bgcolor="red" style="font-weight:bold"><%= invoiced_trip.km - @sum_km_activities %></td>
              <% end %> 
       `<% else %>
              <td bgcolor="#b6f666" style="font-weight:bold">NO INFO1</td>
        <% end %>



        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.km_driver_route_note %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.StartDate.to_datetime.strftime("%d %B %Y %H:%M") %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.EndDate.to_datetime.strftime("%d %B %Y %H:%M") %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.date %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.surcharge %></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.total_amount %></td>
<% if false %>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= (@clients.find(invoiced_trip.client_id).kprice*invoiced_trip.km*
          (100+invoiced_trip.surcharge.to_s.to_d)/100+
          invoiced_trip.germany_toll.to_s.to_d+
          invoiced_trip.belgium_toll.to_s.to_d+
          invoiced_trip.swiss_toll.to_s.to_d +
          invoiced_trip.france_toll.to_s.to_d + 
          invoiced_trip.italy_toll.to_s.to_d + 
          invoiced_trip.uk_toll.to_s.to_d + 
          invoiced_trip.netherlands_toll.to_s.to_d + 
          invoiced_trip.bridge.to_s.to_d + 
          invoiced_trip.parking.to_s.to_d + 
          invoiced_trip.tunnel.to_s.to_d + 
          invoiced_trip.trailer_cost.to_s.to_d).round(2)%></td>
<% end %>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= (invoiced_trip.price_per_km*invoiced_trip.km*
          (100+invoiced_trip.surcharge)/100+
          invoiced_trip.germany_toll.to_s.to_d+
          invoiced_trip.belgium_toll.to_s.to_d+
          invoiced_trip.swiss_toll.to_s.to_d +
          invoiced_trip.france_toll.to_s.to_d + 
          invoiced_trip.italy_toll.to_s.to_d + 
          invoiced_trip.uk_toll.to_s.to_d + 
          invoiced_trip.netherlands_toll.to_s.to_d + 
          invoiced_trip.bridge.to_s.to_d + 
          invoiced_trip.parking.to_s.to_d + 
          invoiced_trip.tunnel.to_s.to_d + 
          invoiced_trip.trailer_cost.to_s.to_d).round(2)%></td>
        <td bgcolor="#b6f666" style="font-weight:bold"><%= invoiced_trip.images.count %></td>

<% elsif invoiced_trip.created_at.to_date == Time.now.utc.to_date-1%>


<td bgcolor="#8bf0f8" style="font-weight:bold"><%= (j+"1".to_i).to_s %></td>

<% if @invoices.find_by_id(invoiced_trip.invoice_id) != nil %>
  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= @invoices.find(invoiced_trip.invoice_id).name %></td>
  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.info %></td>
  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= @invoices.find(invoiced_trip.invoice_id).info %></td>
<% else %>
  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.invoice_id %></td>
  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= "-".to_s %></td>
<% end %>

<td bgcolor="#8bf0f8" style="font-weight:bold"><%= @clients.find(invoiced_trip.client_id).Name %></td>

<% if false %>
  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.client_id %></td>
<% end %>

<td bgcolor="#8bf0f8" style="font-weight:bold"><%= @drivers.find(invoiced_trip.DRIVER_id).FIRSTNAME+" "+ @drivers.find(invoiced_trip.DRIVER_id).SECONDNAME %></td>
<td bgcolor="#8bf0f8" style="font-weight:bold"><%= @drivers.find(invoiced_trip.DRIVER_id).CNP %></td>
<% if false %>
    <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.DRIVER_id %></td>
<% end %>

        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= @trucks.find(invoiced_trip.truck_id).NB_PLATE %></td>

<% if false %>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.truck_id %></td>
<% end %>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.germany_toll %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.belgium_toll %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.swiss_toll %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.france_toll %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.italy_toll %></td>  
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.uk_toll %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.netherlands_toll %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.bridge %></td>  
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.parking %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.tunnel %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.trailer_cost %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.km %></td>
        
        <td bgcolor="#8bf0f8" style="font-weight:bold">
        <% if invoiced_trip.km_evogps != nil and invoiced_trip.km_evogps > 0 %>
                <%= invoiced_trip.km_evogps %>
        <% else %> 
                <%=  @sum_km_activities1 = @activities.find_by_sql(['SELECT * FROM activities where invoiced_trip_id = ?', invoiced_trip.id]).to_a.map(&:km_evogps).inject(:+) %>
        <% end %>
        </td>

        <% if invoiced_trip.km_evogps != nil and invoiced_trip.km_evogps > 0 %>
              <% if invoiced_trip.km >= invoiced_trip.km_evogps %>
                  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.km - invoiced_trip.km_evogps %></td>
              <% else %>
                  <td bgcolor="red" style="font-weight:bold"><%= invoiced_trip.km - invoiced_trip.km_evogps %></td>
              <% end %> 
        <% elsif @sum_km_activities1 != nil and @sum_km_activities1 > 0 %>
              <% if invoiced_trip.km >= @sum_km_activities1 %>
                  <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.km - @sum_km_activities1 %></td>
              <% else %>
                  <td bgcolor="red" style="font-weight:bold"><%= invoiced_trip.km - @sum_km_activities1 %></td>
              <% end %> 
       `<% else %>
              <td bgcolor="#8bf0f8" style="font-weight:bold">NO INFO</td>
        <% end %>

        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.km_driver_route_note %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.StartDate.to_datetime.strftime("%d %B %Y %H:%M") %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.EndDate.to_datetime.strftime("%d %B %Y %H:%M") %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.date %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.surcharge %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.total_amount %></td>
        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= (invoiced_trip.price_per_km*invoiced_trip.km*
          (100+invoiced_trip.surcharge)/100+
          invoiced_trip.germany_toll.to_s.to_d+
          invoiced_trip.belgium_toll.to_s.to_d+
          invoiced_trip.swiss_toll.to_s.to_d +
          invoiced_trip.france_toll.to_s.to_d + 
          invoiced_trip.italy_toll.to_s.to_d + 
          invoiced_trip.uk_toll.to_s.to_d + 
          invoiced_trip.netherlands_toll.to_s.to_d + 
          invoiced_trip.bridge.to_s.to_d + 
          invoiced_trip.parking.to_s.to_d + 
          invoiced_trip.tunnel.to_s.to_d + 
          invoiced_trip.trailer_cost.to_s.to_d).round(2) %></td>

        <td bgcolor="#8bf0f8" style="font-weight:bold"><%= invoiced_trip.images.count %></td>

<% else %>
         <td><%= (j+"1".to_i).to_s %></td>
        <% if @invoices.find_by_id(invoiced_trip.invoice_id) != nil %>

          <td><%= @invoices.find(invoiced_trip.invoice_id).name %></td>
          <td><%= invoiced_trip.info %></td>
          <td><%= @invoices.find(invoiced_trip.invoice_id).info %></td>
                  
        <% else %>
          <td><%= invoiced_trip.invoice_id %></td>
        <% end %>
        <td><%= @clients.find(invoiced_trip.client_id).Name %></td>
        <% if false %>
        <td><%= invoiced_trip.client_id %></td>
        <% end %>
        <td><%= @drivers.find(invoiced_trip.DRIVER_id).FIRSTNAME+" "+ @drivers.find(invoiced_trip.DRIVER_id).SECONDNAME %></td>
        <td><%= @drivers.find(invoiced_trip.DRIVER_id).CNP %></td>
        <% if false %>
        <td><%= invoiced_trip.DRIVER_id %></td>
        <% end %>
        <td><%= @trucks.find(invoiced_trip.truck_id).NB_PLATE %></td>
        <% if false %>
        <td><%= invoiced_trip.truck_id %></td>
        <% end %>
        <td><%= invoiced_trip.germany_toll %></td>
        <td><%= invoiced_trip.belgium_toll %></td>
        <td><%= invoiced_trip.swiss_toll %></td>
        <td><%= invoiced_trip.france_toll %></td>
        <td><%= invoiced_trip.italy_toll %></td>  
        <td><%= invoiced_trip.uk_toll %></td>
        <td><%= invoiced_trip.netherlands_toll %></td>
        <td><%= invoiced_trip.bridge %></td>  
        <td><%= invoiced_trip.parking %></td>
        <td><%= invoiced_trip.tunnel %></td>
        <td><%= invoiced_trip.trailer_cost %></td>
        <td><%= invoiced_trip.km %></td>

        <td>
        <% if invoiced_trip.km_evogps != nil and invoiced_trip.km_evogps > 0 %>
                <%= invoiced_trip.km_evogps %></td>
        `<% else %> 
                <%=  @sum_km_activities2 = @activities.find_by_sql(['SELECT * FROM activities where invoiced_trip_id = ?', invoiced_trip.id]).to_a.map(&:km_evogps).inject(:+) %>
        <% end %>
        </td>

        <% if invoiced_trip.km_evogps != nil and invoiced_trip.km_evogps > 0 %>
              <% if invoiced_trip.km >= invoiced_trip.km_evogps %>
                  <td><%= invoiced_trip.km - invoiced_trip.km_evogps %></td>
              <% else %>
                  <td><%= invoiced_trip.km - invoiced_trip.km_evogps %></td>
              <% end %> 
        <% elsif @sum_km_activities2 != nil and @sum_km_activities2 > 0 %>
              <% if invoiced_trip.km >= @sum_km_activities2 %>
                  <td><%= invoiced_trip.km - @sum_km_activities2 %></td>
              <% else %>
                  <td><%= invoiced_trip.km - @sum_km_activities2 %></td>
              <% end %> 
       `<% else %>
              <td>NO INFO</td>
        <% end %>
 

        <td><%= invoiced_trip.km_driver_route_note %></td>
        <td><%= invoiced_trip.StartDate.to_datetime.strftime("%d %B %Y %H:%M") %></td>
        <td><%= invoiced_trip.EndDate.to_datetime.strftime("%d %B %Y %H:%M") %></td>
        <td><%= invoiced_trip.date %></td>
        <td><%= invoiced_trip.surcharge %></td>

        <td><%= invoiced_trip.total_amount %></td>




        <td><%= (invoiced_trip.price_per_km*invoiced_trip.km*(100+invoiced_trip.surcharge)/100+
          invoiced_trip.germany_toll.to_s.to_d+
          invoiced_trip.belgium_toll.to_s.to_d+
          invoiced_trip.swiss_toll.to_s.to_d +
          invoiced_trip.france_toll.to_s.to_d + 
          invoiced_trip.italy_toll.to_s.to_d + 
          invoiced_trip.uk_toll.to_s.to_d + 
          invoiced_trip.netherlands_toll.to_s.to_d + 
          invoiced_trip.bridge.to_s.to_d + 
          invoiced_trip.parking.to_s.to_d + 
          invoiced_trip.tunnel.to_s.to_d + 
          invoiced_trip.trailer_cost.to_s.to_d).round(2)  %></td>
        <td><%= invoiced_trip.images.count %></td>
<% end %>



        <td><%= link_to 'Show', invoiced_trip %></td>
        <td><%= link_to 'Edit', edit_invoiced_trip_path(invoiced_trip) %></td>

         <% if false %>
        <td><%= link_to 'Print', invoiced_trips_print_path(:id => invoiced_trip.id, :format => "pdf"), method: :post %></td>
         <% end %>

        <td><%= link_to 'Destroy', invoiced_trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</fieldset>

<br>

<%= link_to 'New Invoiced Trip', new_invoiced_trip_path %>
