<p id="notice"><%= notice %></p>


<p>
  <strong>Invoice ID:</strong>
  <%= @invoiced_trip.invoice_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client.Name %>
</p>

 <% if @invoiced_trip.typeT == nil %>

<p>
  <strong>Driver:</strong>
  <%= @driver.FIRSTNAME+" "+@driver.SECONDNAME %>
</p>

<p>
  <strong>CNP:</strong>
  <%= @driver.CNP %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @truck.NB_PLATE %>
</p>

<p>
  <strong>Info:</strong>
  <%= @invoiced_trip.info %>
</p>

<p>
  <strong>Germany toll:</strong>
  <%= @invoiced_trip.germany_toll %>
</p>

<p>
  <strong>Belgium toll:</strong>
  <%= @invoiced_trip.belgium_toll %>
</p>

<p>
  <strong>Swiss toll:</strong>
  <%= @invoiced_trip.swiss_toll %>
</p>

<p>
  <strong>France toll:</strong>
  <%= @invoiced_trip.france_toll %>
</p>

<p>
  <strong>Italy toll:</strong>
  <%= @invoiced_trip.italy_toll %>
</p>

<p>
  <strong>Uk toll:</strong>
  <%= @invoiced_trip.uk_toll %>
</p>

<p>
  <strong>Netherlands toll:</strong>
  <%= @invoiced_trip.netherlands_toll %>
</p>

<p>
  <strong>Bridge toll cost:</strong>
  <%= @invoiced_trip.bridge %>
</p>

<p>
  <strong>Parking cost:</strong>
  <%= @invoiced_trip.parking %>
</p>

<p>
  <strong>Tunnel cost:</strong>
  <%= @invoiced_trip.tunnel %>
</p>

<p>
  <strong>Trailer cost:</strong>
  <%= @invoiced_trip.trailer_cost %>
</p>

<p>
  <strong>Km:</strong>
  <%= @invoiced_trip.km %>
</p>

<p>
  <strong>Km EvoGps:</strong>
  <%= @invoiced_trip.km_evogps %>
</p>

<p>
  <strong>Km Driver Route Note:</strong>
  <%= @invoiced_trip.km_driver_route_note %>
</p>

<p>
  <strong>Trip Start Date:</strong>
  <%= @invoiced_trip.StartDate %>
</p>

<p>
  <strong>Trip End Date:</strong>
  <%= @invoiced_trip.EndDate %>
</p>


<p>
  <strong>Diesel Surcharge:</strong>
  <%= @invoiced_trip.surcharge %>
</p>

<p>
  <strong>Amount in Euros:</strong>
  <%= @invoiced_trip.total_amount %>
</p>

<p>
  <strong>Amount in 
  <%= Currency.find_by_sql(["SELECT * FROM currencies where currencies.id = ?", @invoiced_trip.currency_id])[0]["abbr"].to_s %></strong> 
  <%= @invoiced_trip.amount %>
</p>


<% else %>

<p>
  <strong>Invoice Date:</strong>
  <%= @invoices.find(@invoiced_trip.invoice_id).date %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @invoices.find(@invoiced_trip.invoice_id).total_amount %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @invoiced_trip.shipper %>
</p>

<p>
  <strong>Vehicle FOTOs</strong>
</p>
<table>
  <% @invoiced_trip.images.each_with_index do |image,index| %>

    <% if (index)%6 == 0 %>
       <tr>
        </tr>
    <% end %>

    <td>

    <% if false %>
     <%= image_tag(url_for(image), height: '200', width: '200') %>
    <% end %>

      <% if  (image.blob!=nil and image.previewable?) %>
        

        <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200') %>
        
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

      <% elsif (image.blob !=nil and image.variable?)  %>
        
        <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
         
        <% if false %>
        <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

      <% else  %> 
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      
      <% end %>

      <br>

       <%if image.blob !=nil  %>
      
     <%= link_to 'Download', image, download: image %>
     <br>
     <%= link_to 'Remove', delete_image_invoiced_trip_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
    <% end %>
        

    </td>

     
    <% end %>

</table>



<p>
  <strong>Bill of Lading</strong>
</p>

<table>
  <% @invoiced_trip.bill_of_lading.each_with_index do |image,index| %>

    <% if (index)%6 == 0 %>
       <tr>
        </tr>
    <% end %>

    <td>

    <% if false %>
     <%= image_tag(url_for(image), height: '200', width: '200') %>
    <% end %>

      <% if  (image.blob!=nil and image.previewable?) %>
        

        <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200') %>
        
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

      <% elsif (image.blob !=nil and image.variable?)  %>
        
        <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
         
        <% if false %>
        <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

      <% else  %> 
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      
      <% end %>

      <br>

       <%if image.blob !=nil  %>
      
     <%= link_to 'Download', image, download: image %>
     <br>
     <%= link_to 'Remove', delete_image_invoiced_trip_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
    <% end %>
        

    </td>

     
    <% end %>

</table>



<p>
  <strong>Export Documents</strong>
</p>

<table>
  <% @invoiced_trip.export_document.each_with_index do |image,index| %>

    <% if (index)%6 == 0 %>
       <tr>
        </tr>
    <% end %>

    <td>

    <% if false %>
     <%= image_tag(url_for(image), height: '200', width: '200') %>
    <% end %>

      <% if  (image.blob!=nil and image.previewable?) %>
        

        <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200') %>
        
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

      <% elsif (image.blob !=nil and image.variable?)  %>
        
        <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
         
        <% if false %>
        <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

      <% else  %> 
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      
      <% end %>

      <br>

       <%if image.blob !=nil  %>
      
     <%= link_to 'Download', image, download: image %>
     <br>
     <%= link_to 'Remove', delete_image_invoiced_trip_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
    <% end %>
        

    </td>

     
    <% end %>

</table>


<br>


<% end %>


<% if   @invoiced_trip.typeT == 1 %>

<%= link_to 'Edit', edit_invoiced_trip_path(@invoiced_trip) %> |
<%= link_to 'Back', index_special_path %>


<% else %>

<%= link_to 'Edit', edit_invoiced_trip_path(@invoiced_trip) %> |
<%= link_to 'Back', invoiced_trips_path %>

<% end %>