<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @as24_germany_toll.contract %>
</p>

<p>
  <strong>Vehicle card:</strong>
  <%= @as24_germany_toll.vehicle_card %>
</p>

<p>
  <strong>Driver card:</strong>
  <%= @as24_germany_toll.driver_card %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @as24_germany_toll.product_code %>
</p>

<p>
  <strong>Product:</strong>
  <%= @as24_germany_toll.product %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @as24_germany_toll.volume %>
</p>

<p>
  <strong>Date:</strong>
  <%= @as24_germany_toll.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @as24_germany_toll.time %>
</p>

<p>
  <strong>Country:</strong>
  <%= @as24_germany_toll.country %>
</p>

<p>
  <strong>Site nbr:</strong>
  <%= @as24_germany_toll.site_nbr %>
</p>

<p>
  <strong>Station:</strong>
  <%= @as24_germany_toll.station %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @as24_germany_toll.invoice_date %>
</p>

<p>
  <strong>Invoice nbr:</strong>
  <%= @as24_germany_toll.invoice_nbr %>
</p>

<p>
  <strong>Vat rate:</strong>
  <%= @as24_germany_toll.vat_rate %>
</p>

<p>
  <strong>Transation currency:</strong>
  <%= @as24_germany_toll.transation_currency %>
</p>

<p>
  <strong>Transaction excl vat:</strong>
  <%= @as24_germany_toll.transaction_excl_vat %>
</p>

<p>
  <strong>Transaction vat:</strong>
  <%= @as24_germany_toll.transaction_vat %>
</p>

<p>
  <strong>Transaction incl vat:</strong>
  <%= @as24_germany_toll.transaction_incl_vat %>
</p>

<p>
  <strong>Payment currency:</strong>
  <%= @as24_germany_toll.payment_currency %>
</p>

<p>
  <strong>Payment excl vat:</strong>
  <%= @as24_germany_toll.payment_excl_vat %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @as24_germany_toll.miles %>
</p>

<p>
  <strong>Immatriculation:</strong>
  <%= @as24_germany_toll.immatriculation %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @as24_germany_toll.document_type %>
</p>

<%= link_to 'Edit', edit_as24_germany_toll_path(@as24_germany_toll) %> |
<%= link_to 'Back', as24_germany_tolls_path %>
