<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>
<h1>Clients</h1>
<h4>This page is dedicated to the clients description - you can see the existent list of clients, modify them or introduce new ones.</h4>
<ul>
 
  <li>
  <p>
  <h4> Download All Clients as CSV or Excel file:
  <%= link_to "CSV", clients_path(format: "csv") %> |
  <%= link_to "Excel", clients_path(format: "xls") %> 
  </h4> 
  </p>
  </li>


  <li>
  <div>
  <h4> Import Clients from CSV file: </h4>
    <%= form_tag import_clients_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag  "Import CSV"%>
  <% end %>
  </div>
  </li>

  <li>
  <p>
  <h4> Create <%= link_to 'New Client ',new_client_path %> </h4> 
  </p>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Active</th>
      <th>Bankaccount</th>
      <% if current_user != nil %> 
      <th>€/Km</th>
      <th>€/Day</th>
      <th>Surcharge</th>
      <th>Paymentdelay</th>
      <th>InvoicingEmail</th>
      <th>TripsEmail</th>
       <% end %>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each_with_index do |client,i| %>

        <td><%= i+1 %></td>
        <% @pricing = Pricing.find_by_sql(["SELECT * FROM pricings where pricings.client_id = ? order by pricings.DATETIME desc", client.id]) %>
        <td><%= client.Name %></td>
        <td><%= client.Address %></td>
        <td><%= client.active %></td>        
        <td><%= client.BankAccount %></td>
        
         <% if current_user != nil 
          %> 

       <% if @pricing.size>0 %> 

        <td><%= @pricing[0].price_per_km %></td>
        <td><%= @pricing[0].price_per_day %></td>
        <td><%= @pricing[0].surcharge %></td>
        <td><%= @pricing[0].PaymentDelay %></td>
        
      <% else %> 
         <td> -1 </td>
         <td> -1 </td>
         <td> -1 </td>
         <td> -1 </td>
         <td> -1 </td>
      <% end %> 
      <td><%= client.email %></td>
      <td><%= client.trips_email %></td>


         <% end %>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>