<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<p>
  <strong>Name:</strong>
  <%= @client.Name %>
</p>


<% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
<p>
  <strong>Address:</strong>
  <%= @client.Address %>
</p>

<p>
  <strong>Bankaccount:</strong>
  <%= @client.BankAccount %>
</p>

    <p>
      <strong>(€)/Km:</strong>
      <%= @client.kprice %>
    </p>

<p>
  <strong>Paymentdelay:</strong>
  <%= @client.PaymentDelay %>
</p>

<p>
  <strong>InvoicingEmail:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>TripsEmail:</strong>
  <%= @client.trips_email %>
</p>

<% end %>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
