<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :DATE %>
    <%= form.datetime_select :DATE, id: :event_DATE, :required => 'required' %>
  </div>


<div class="field">
    <%= form.label :expected_date %>
    <%= form.datetime_select :expected_date, id: :expected_date, :required => 'required' %>
  </div>


<%= form.collection_select :DRIVER_id, Driver.all, :id, :name_with_cnp, {prompt: "Driver Name and CNP"},:required => 'required'%>

<% if false %>
  <div class="field">
    <%= form.label :truck_id %>
    <%= form.number_field :truck_id, id: :event_truck_id, :required => 'required' %>
  </div>
<% end %>

<%= form.collection_select :client_id, Client.all, :id, :Name, {prompt: "Client Name"}, :required => 'required' %>
<%= form.collection_select :dispatcher_id, Dispatcher.all, :id, :FIRSTNAME, {prompt: "Dispatcher Name"}, :required => 'required' %>
<%= form.collection_select :truck_id, Truck.all, :id, :NB_PLATE, {prompt: "Truck Nb Plate"}, :required => 'required' %>
<%= form.collection_select :trailer_id, Trailer.all, :id, :NB_PLATE, {prompt: "Trailer Nb Plate"} %>

<div class="field">
  <%= form.label :START_END, 'Mark if Start event'  %>
  <%= form.check_box :START_END, id: :event_START_END%>
</div>

<div class="field">
        <%= form.label :volume, 'Volume (Litters of diesel in the tank at the moment of the event - ask this info from driver!!! )', :required => 'required' %>
        <%= form.text_field :volume, id: :volume, :required => 'required' %>
</div>


<div class="field">
        <%= form.label :km, 'Km (Number of km on the odometer at the moment of the event - ask this info from driver!!! )', :required => 'required' %>
        <%= form.text_field :km, id: :km, :required => 'required' %>
</div>

<% if false %>
  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>
<% end %>

<div class="form_group">
  <%= form.label :name, 'You can introduce multiple pdf/jpg files at once.' %>
  <%= form.file_field :images, multiple: true %>
</div>
<br></br>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
