<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p id="notice"><%= notice %></p>

<fieldset>
  <legend> Individual Calculation Interval </legend>
  <p>Introduce the Event Start/End Date, Driver and Truck to get the cash-flow detailed view</p> 
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :driver_id, Driver.all.order('"FIRSTNAME" ASC'), :id, :name_with_cnp, {:include_blank => 'All Drivers'} %>
        <%= collection_select :search, :truck_id, Truck.all, :id, :NB_PLATE, {:include_blank => 'All Trucks'} %>
      

        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>
  </br>
</fieldset>

<% if false %>
<form method="post" id="contactForm" action="#">
    <fieldset>
        <legend>Newsletter Signup</legend>
        <p>To sign up for our fabulous campaign of useless information that you will never, ever read, please submit your email address here.</p>
        <label for="email" id="emailLabel">Email</label>
        <input type="text" id="email" />
        <input type="button" name="submit" value="Submit" id="submitButton" />
    </fieldset>
</form>
<% end %>

<fieldset>
<table>
    <h2>Individual Debit/Credit/Profit</h2>
    <thead>
      <tr>
        <th>Driver Expenses</th>
        <th>Fuel Expenses</th>
        <th>Truck Expenses</th>
        <th>Toll Germany</th>
        <th>Toll Belgium</th>
        <th>Toll Generic</th>

        
        <th>Debit(Total Expenses)</th>
        <th>Credit(Invoiced Trips)</th> 
        <th>Profit</th> 
      </tr>
    </thead>
<tbody>    
    <tr>
      <td><%= @total_driver_expenses %></td>
      <td><%= @total_fuel_expenses %></td>
      <td><%= @total_truck_expenses %></td>
      <td><%= @total_germany_tolls %></td>
      <td><%= @total_be_tolls %></td>
      <td><%= @total_generic_tolls %></td>
      <td bgcolor="#E8F993"><%= @total_debit %></td>
      <td bgcolor="#E8F993"><%= @total_invoiced_trips %></td>
      <th bgcolor="#E8F993"><%= @total_invoiced_trips - @total_debit %></th>
    </tr>
     </tbody>
</table>
<br />
<table>
    <thead>
      <tr>
    <th>total_km_evogps</th> 
    <th>total_km_invoiced</th> 
    <th>NOT PAID KMs</th>  
    
      </tr>
    </thead>
<tbody>    
    <tr>
      <td bgcolor="#E8F993"><%= @total_km_evogps.round(2) %></td>
      <td bgcolor="#E8F993"><%= @total_km_invoiced.round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_km_evogps-@total_km_invoiced).round(2)%></td>
    </tr>
     </tbody>
</table>

<br />
<table>
    <thead>
      <tr>
    <th>total_toll_costs</th> 
    <th>total_toll_invoiced</th> 
     <th>NOT PAID TOLLs</th> 
      </tr>
    </thead>
<tbody>    
    <tr>
      <td bgcolor="#E8F993"><%= (@total_germany_tolls+@total_be_tolls+@total_generic_tolls).round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_toll_invoiced).round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_germany_tolls+@total_be_tolls+@total_generic_tolls-@total_toll_invoiced).round(2)%></td>
    </tr>
     </tbody>
</table>
<br />


<br />
<table>
    <thead>
      <tr>
    <th>total_fuel(L)</th> 
    <th>total_adblue(L)</th> 
    <th>Fuel/GPS km</th> 
    <th>AdBlue/GPS km</th> 
    <th>Fuel/Invoiced km</th> 
    <th>AdBlue/Invoiced km</th>
    <th>Total and per km loss (diesel+AdBlue)</th> 
      </tr>
    </thead>
<tbody>    
    <tr>
      <td bgcolor="#E8F993"><%= @total_fuel.round(2) %></td>
      <td bgcolor="#E8F993"><%= @total_adblue.round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_fuel/@total_km_evogps).round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_adblue/@total_km_evogps).round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_fuel/@total_km_invoiced).round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_adblue/@total_km_invoiced).round(2) %></td>
      <td bgcolor="#E8F993"><%= (@total_fuel_expenses- (@total_fuel_expenses*(@total_km_invoiced/@total_km_evogps) )).round(2).to_s+ " | ".to_s+ 
          (((@total_fuel_expenses- (@total_fuel_expenses*(@total_km_invoiced/@total_km_evogps) ))/@total_km_evogps).round(2)).to_s %>
    </tr>
     </tbody>
</table>
<br />

<table>
    <thead>
      <tr>
   
    <th>avg TOLL/KM</th> 
      </tr>
    </thead>
<tbody>    
    <tr>  
      <td bgcolor="#E8F993"><%= ((@total_germany_tolls+@total_be_tolls)/(@total_km_invoiced+1)).round(4) %></td>
    </tr>
     </tbody>
</table>

  <table>
    <h2>Driver Events</h2>
    <thead>
      <tr>
        <th>Date</th>
        <th>Driver CNP</th>
        <th>First Name</th>
        <th>First Name</th>
        <th>Number Plate</th>
        <th>Start/End</th>
        <th colspan="3"></th>
      </tr>
    </thead>
<tbody>    
    <% @events.each do |event| %>
    <tr>
      <td><%= event.DATE.strftime("%d %B %Y %H:%M") %></td>
      
      <td><%= @drivers.find(event.DRIVER_id).CNP %></td>
      <td><%= @drivers.find(event.DRIVER_id).FIRSTNAME %></td>
      <td><%= @drivers.find(event.DRIVER_id).SECONDNAME %></td>
      <td><%= @trucks.find(event.truck_id).NB_PLATE %></td>
      
      <% if event.START_END? %>
      <td><%= 'Start' %></td>
      <% else %>
      <td><%= 'End' %></td>
      <% end %>

      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</fieldset>

<fieldset>
<h1>Credit</h1>
<h2>Invoiced Trips</h2>
<table>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Client ID</th>
      <th>Driver Name</th>
      <th>Driver CNP </th>
      <th>Driver ID</th>
      <th>Truck</th>
       <th>Truck ID</th>
      <th>Germany toll</th>
      <th>Belgium toll</th>
      <th>Swiss toll</th>
      <th>France toll</th>
      <th>Italy toll</th>
      <th>Uk toll</th>
      <th>Netherlands toll</th>
      <th>Km</th>
      <th>Trip Start Date</th>
      <th>Trip End Date</th>
      <th>Invoice Date</th>
      <th>Total amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoiced_trips.each do |invoiced_trip| %>
      <tr>
        <td><%= @clients.find(invoiced_trip.client_id).Name %></td>
        <td><%= invoiced_trip.client_id %></td>


<% if invoiced_trip.DRIVER_id != nil and @drivers.find(invoiced_trip.DRIVER_id) != nil %>

        <td><%= @drivers.find(invoiced_trip.DRIVER_id).FIRSTNAME+" "+ @drivers.find(invoiced_trip.DRIVER_id).SECONDNAME %></td>
        <td><%= @drivers.find(invoiced_trip.DRIVER_id).CNP %></td>

<% else %> 
        <td><%= "NO DRIVER" %></td>
        <td><%= " - " %></td>
<% end %> 

        <td><%= invoiced_trip.DRIVER_id %></td>

<% if invoiced_trip.truck_id != nil %>
        <td><%= @trucks.find(invoiced_trip.truck_id).NB_PLATE %></td>
<% else %>
        <td><%= " - " %></td>
<% end %>

        <td><%= invoiced_trip.truck_id %></td>
        <td><%= invoiced_trip.germany_toll %></td>
        <td><%= invoiced_trip.belgium_toll %></td>
        <td><%= invoiced_trip.swiss_toll %></td>
        <td><%= invoiced_trip.france_toll %></td>
        <td><%= invoiced_trip.italy_toll %></td>
        <td><%= invoiced_trip.uk_toll %></td>
        <td><%= invoiced_trip.netherlands_toll %></td>
        <td><%= invoiced_trip.km %></td>
        <td><%= invoiced_trip.StartDate %></td>
        <td><%= invoiced_trip.EndDate %></td>
        <td><%= invoiced_trip.date %></td>
        <td><%= invoiced_trip.total_amount %></td>
        <td><%= link_to 'Show', invoiced_trip %></td>
        <td><%= link_to 'Edit', edit_invoiced_trip_path(invoiced_trip) %></td>
        <td><%= link_to 'Destroy', invoiced_trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
<fieldset>
<h1>Debit</h1>
  <table>
    <h2>Driver Expenses</h2>
    <thead>
      <tr>
        <th>Driver CNP</th>
        <th>Driver First Name</th>
        <th>Driver Second Name</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Info</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
<tbody>
    <% @driver_expenses.each do |driver_expense| %>
    <tr>
      <td><%= @drivers.find(driver_expense.DRIVER_id).CNP %></td>
      <td><%= @drivers.find(driver_expense.DRIVER_id).FIRSTNAME %></td>
      <td><%= @drivers.find(driver_expense.DRIVER_id).SECONDNAME %></td>
      <td><%= driver_expense.DATE %></td>
      <td><%= driver_expense.AMOUNT %></td>
      <td><%= driver_expense.INFO %></td>
      <td><%= driver_expense.DESCRIPTION %></td>
      <td><%= link_to 'Show', driver_expense %></td>
      <td><%= link_to 'Edit', edit_driver_expense_path(driver_expense) %></td>
      <td><%= link_to 'Destroy', driver_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</tbody>

  </table>

  <h2>Truck Expenses</h2>
  <table>
    <thead>
      <tr>
        <th>Truck</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Info</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
<tbody>
    <% @truck_expenses.each do |truck_expense| %>
    <tr>
      <% if @trucks.where(:id => truck_expense.truck_id).size > 0 %>
        <td><%= @trucks.find(truck_expense.truck_id).NB_PLATE %></td>
        <td><%= truck_expense.DATE %></td>
        <td><%= truck_expense.AMOUNT %></td>
        <td><%= truck_expense.INFO %></td>
        <td><%= truck_expense.DESCRIPTION %></td>
        <td><%= link_to 'Show', truck_expense %></td>
        <td><%= link_to 'Edit', edit_truck_expense_path(truck_expense) %></td>
        <td><%= link_to 'Destroy', truck_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  
</tbody>
</table>

<h2>Belgium Tolls</h2>

<table>
  <thead>
    <tr>
      <th>NumberPlate</th>
      <th>StartDate</th>
      <th>StartTime</th>
      <th>Distance</th>
      <th>Eur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @be_tolls.each do |be_toll| %>
      <tr>
        <td><%= @trucks.find(be_toll.truck_id).NB_PLATE %></td>
        <td><%= be_toll.date_of_usage %></td>
        <td><%= be_toll.entry_time.strftime("%H:%M") %></td>
        <td><%= be_toll.charged_distance     %></td>
        <td><%= be_toll.charged_amount_excluding_vat %></td>
        <td><%= link_to 'Show', be_toll %></td>
        <td><%= link_to 'Edit', edit_be_toll_path(be_toll) %></td>
        <td><%= link_to 'Destroy', be_toll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Generic Tolls</h2>

<table>
  <thead>
    <tr>
      <th>NumberPlate </th>
      <th>StartDate</th>
      <th>EndDate</th>
      <th>Km</th>
      <th>Eur</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_tolls.each do |generic_toll| %>
      <tr>
      <% if @trucks.where(:id => generic_toll.truck_id).size > 0 %>
        <td><%= @trucks.find(generic_toll.truck_id).NB_PLATE %></td>
        <td><%= generic_toll.StartDate %></td>
        <td><%= generic_toll.EndDate %></td>
        <td><%= generic_toll.Km %></td>
        <td><%= generic_toll.EUR %></td>
        <td><%= generic_toll.country %></td>
        <td><%= link_to 'Show', generic_toll %></td>
        <td><%= link_to 'Edit', edit_generic_toll_path(generic_toll) %></td>
        <td><%= link_to 'Destroy', generic_toll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>          
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Fuel Expenses</h2>
<table>
  <thead>
    <tr>
      <th>NbPlate</th>
      <th>Date</th>
      <th>Time</th>
      <th>Product</th>
      <th>Volume</th>
      <th>EuroNetAmount</th>
      <th>EuroNetAmountInclVATFreeCharges</th>
      <th>KmInsertion</th>
      <th>CardNr</th>
      <th>StatioNname</th>
      <th>GrossUnitPrice</th>
      <th>GrossAmount</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fuel_expenses.each do |fuel_expense| %>
      <tr>
        <td><%= fuel_expense.platenr %></td>
        <td><%= fuel_expense.trsdate.strftime("%d %B %Y ") %></td>
         <td><%= fuel_expense.trstime.strftime("%H:%M") %></td>
        <td><%= fuel_expense.product %></td>
        <td><%= fuel_expense.volume %></td>
        <td><%= fuel_expense.eurnetamount %></td>
        <td><%= fuel_expense.EuroNetAmountInclVATFreeCharges %></td>
        <td><%= fuel_expense.kminsertion %></td>
        <td><%= fuel_expense.cardnr %></td>
        <td><%= fuel_expense.stationname %></td>
        <td><%= fuel_expense.eurgrossunitprice %></td>
        <td><%= fuel_expense.eurgrossamount %></td>
        <td><%= fuel_expense.country %></td>
        <td><%= link_to 'Show', fuel_expense %></td>
        <td><%= link_to 'Edit', edit_fuel_expense_path(fuel_expense) %></td>
        <td><%= link_to 'Destroy', fuel_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Germany Toll Expenses</h2>
<table>
  <thead>
    <tr>
      <th>NbPlate</th>
      <th>Date</th>
      <th>Time</th>
      <th>BookingID</th>
      <th>Art</th>
      <th>Road</th>
      <th>Via</th>
      <th>Departure</th>
      <th>Axel</th>
      <th>Emission</th>
      <th>Km</th>
      <th>EUR</th>
      <th>TruckID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @germany_tolls.each do |germany_toll| %>
    <tr>
      <td><%= germany_toll.platenr %></td>
      <td><%= germany_toll.date.strftime("%d %B %Y")%></td>
      <td><%= germany_toll.time.strftime("%H:%M") %></td>
      <td><%= germany_toll.bookingid %></td>
      <td><%= germany_toll.art %></td>
      <td><%= germany_toll.road %></td>
      <td><%= germany_toll.via %></td>
      <td><%= germany_toll.departure %></td>
      <td><%= germany_toll.axelclass %></td>
      <td><%= germany_toll.emissioncat %></td>
      <td><%= germany_toll.km %></td>
      <td><%= germany_toll.eur %></td>
      <td><%= germany_toll.truck_id %></td>
      <td><%= link_to 'Show', germany_toll %></td>
      <td><%= link_to 'Edit', edit_de_toll_path(germany_toll) %></td>
      <td><%= link_to 'Destroy', germany_toll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</fieldset>

<br>
</body>
</html>

<%= link_to 'New Event', new_event_path %>