<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <p id="notice"><%= notice %></p>
 



 <h1>Driver Events</h1>
<h4>This page is dedicated to the events description - you can see the existent list of events, modify them or introduce new ones.</h4>
<ul>
 
  <li>
  <p>
  <h4> Download All Events as CSV or Excel file:
  <%= link_to "CSV", events_path(format: "csv") %> |
  <%= link_to "Excel", events_path(format: "xls") %> 
  </h4> 
  </p>
  </li>


  <li>
  <div>
  <h4> Import Events from CSV file: </h4>
    <%= form_tag import_events_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag  "Import CSV"%>
  <% end %>
  </div>
  </li>

  <li>
  <p>
  <h4> Create <%= link_to 'New Event ',new_event_path %> </h4> 
  </p>
  </li>

</ul>
<fieldset>
  <p>Introduce the Event Start/End date interval, driver and truck:</p>  
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission2_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :driver_id, Driver.all.order('"FIRSTNAME" ASC'), :id, :name_with_cnp, {:include_blank => 'All Drivers'} %>
        <%= collection_select :search, :truck_id, Truck.all, :id, :NB_PLATE, {:include_blank => 'All Trucks'} %>
        <%= collection_select :search, :client_id, Client.all, :id, :Name, {:include_blank => 'All Clients'} %>
        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>
  </br>
</fieldset>
 <p> </p> 
<p> </p> 

<fieldset>
<p>Selected list of events:</p>  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <% if false %>
         <th>created_at</th>
         <th>updated_at</th>
        <% end %>
        <th><%= link_to "Date", :sort => "\"DATE\"" %> </th>
        <th>Driver CNP</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Client</th>
        <th>Dispatcher</th>
        <th>Truck</th>
        <th>Trailer</th>
        <th>Fuel</th>
        <th>Km</th> 
        <th>Photos</th>
        <th>Start/End</th>
        <th>Expected date of change</th>
          
      
        <th colspan="3"></th>
        </tr>
    </thead>
<tbody>    
    <% @events.each_with_index do |event,i| %>
    <tr>
      <td><%= i+1.to_i %></td>
<% if false %>

      <td><%= event.created_at %></td>
      <td><%= event.updated_at %></td>
<% end  %>

      <td><%= event.DATE.strftime("%d %B %Y %H:%M") %></td>
<% if event.DRIVER_id %>

      <td><%= @drivers.find(event.DRIVER_id).CNP %></td>
      <td><%= @drivers.find(event.DRIVER_id).FIRSTNAME %></td>
      <td><%= @drivers.find(event.DRIVER_id).SECONDNAME %></td>
<% end %>

      <td><%= @clients.find(event.client_id).Name %></td>
      <% if dispatchers and event.dispatcher_id %>
          <td><%= @dispatchers.find(event.dispatcher_id).FIRSTNAME+" ".to_s + @dispatchers.find(event.dispatcher_id).SECONDNAME %></td>
      <% else %>
          <td>NO DISPATCHER</td>
      <% end %>


      <td><%= @trucks.find(event.truck_id).NB_PLATE %></td>

<% if event.trailer_id %>      
      <td><%= @trailers.find(event.trailer_id).NB_PLATE %></td>
<% else %>
      <td><%= %></td>
<% end %>

     <td><%= event.volume %></td> 
     <td><%= event.km %></td> 

      <td><%= event.images.count %></td>
      <% if event.START_END? %>
      <td><%= 'Start' %></td>
      <% else %>
      <td><%= 'End' %></td>
      <% end %>

<% if event.expected_date  %>
      <td><%= event.expected_date.strftime("%d %B %Y")   %></td>
<% else %>
      <td><%= 'Not Yet' %></td>
      <% end %>

      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</fieldset>
<br>
</body>
</html>