<!DOCTYPE html>
<html>
<head>

</head>
<body>
<p id="notice"><%= notice %></p>

<fieldset>
      <p>Start/End Date must belong to the same year!</p> 
        <div class="row">
          <div class="pull-right range-query">
            <%= form_tag weekly_path, :method => 'get' do %>
            <%= date_field_tag 'search1[date_from]', @search1.date_from %>
            <%= date_field_tag 'search1[date_to]', @search1.date_to %>

<% if false %>    
            <%= select_tag 'search1[interval]', options_for_select([["Weeks",1],["Months",2]]) %>
            <%= select_tag 'search1[type]', options_for_select([["Invoice Credits",1],["Salary Debits",2]]) %>
<% end %>

            

<% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %>    
            <%= collection_select :search1, :time, @search1.arrayT, :id, :name %>
            <%= collection_select :search1, :type, @search1.arrayC, :id, :name %>
<% end %>

            <%= collection_select :search1, :client_id, Client.all, :id, :Name, {:include_blank => 'Clients'} %>


            <%= submit_tag 'Display', class: 'btn search-button' %>  
            <% end %>
          </div>
        </div>
      </br>
</fieldset>

<style>
  .vertical-space {
     margin-bottom: 1.5cm;
  }
</style>
<p class="vertical-space">   
</p>

    <% if false %>
    <td><%= @nb_weeks %></td>
    <td><%= @week_start %></td>
    <td><%= @week_end %></td>
    <% end %>

<fieldset>

 <% @arrayWeeklyTruckExpense = @arrayWeeklyTruckExpense.transpose() %>

<% if !(@search1.type ==2 and @search1.time == 2)  %>

<% if @arrayWeeklyTruckExpense %>
  <legend> 

<% if (@search1.type ==1 )  %>
    Invoiced (avg. <td><%= (@arrayWeeklyTruckExpense[@arrayWeeklyTruckExpense.size-1][@arrayWeeklyTruckExpense[0].size-1].to_i)/(@arrayWeeklyTruckExpense.size-2) %></td>) 
<% end %>

  </legend>
  <table>


<% if (@search1.type == 4 or @search1.type == 0 )  %>


   <tbody>
        <% @arrayWeeklyTruckExpense.each_with_index do |row, i| %>
          <tr>
    <% @start = false %>

            <% row.each_with_index do |value, j| %>
                   <% if @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Week') and @arrayWeeklyTruckExpense[0][j] == Date.today.cweek.to_i %>



                             <td bgcolor="#FFA500">
                                      <% if value.is_a?(Struct)  %> 
                                         <%= value.date.strftime(" %d/%b/%Y") %>
                                         <% @start = value.type %>
                                      <% else %>
                                         <%= value %>
                                     <% end %>
                             </td>
                    <% elsif @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Month') and @arrayWeeklyTruckExpense[0][j] == Date.today.month.to_i %>
                             <td bgcolor="#FFA500"><%= value %></td>
                   <% else %>      
                             <% if i== @arrayWeeklyTruckExpense.size-1 or j== @arrayWeeklyTruckExpense[0].size-1 %>
                                 <% if i== @arrayWeeklyTruckExpense.size-1 and j== @arrayWeeklyTruckExpense[0].size-1 %>
                                     <td  style="font-weight:bold"><span class="font-weight:bold">  <%= value %></span> </td>
                                 <% else %>
                                     <td ><%= value %></td>
                                 <% end %>
                             <% else %>


                                      <% if value.is_a?(Struct)  %> 
                                         
<% if value.type  %> 
                                         <td  bgcolor="#00cc44"><%= value.date.strftime(" %d/%b/%Y") %></td>
<% else %>
                                         <td  bgcolor="#ff6600"><%= value.date.strftime(" %d/%b/%Y") %></td>

 <% end %>
                                         <% @start = value.type %>
                                      <% else %> 

                                <% if i == 0  or j == 0 %>
                                    <td ><%= value %></td>
                                <% else %>

                                 <% if @start %>
                                     <td bgcolor="green"><%= value %></td>      
                                 <% else %>
                                     <td bgcolor="#ff9966"><%= value %></td>
                                 <% end %>
                               
                                 <% end %>
                                     <% end %>

                             <% end %>
                   <% end %>
            <%end%>
          </tr>
<% end %>






      </tbody>




<% else %>

      <tbody>
        <% @arrayWeeklyTruckExpense.each_with_index do |row, i| %>
          <tr>
            <% row.each_with_index do |value, j| %>
                   <% if @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Week') and @arrayWeeklyTruckExpense[0][j] == Date.today.cweek.to_i %>
                             <td bgcolor="#FFA500">
                                      <% if value.is_a?(Struct)  %> 
                                         <%= value.value.to_s+ '€ '.to_s+value.date.strftime(" %d/%b/%Y") %>
                                      <% else %>
                                         <%= value %>
                                     <% end %>
                             </td>
                    <% elsif @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Month') and @arrayWeeklyTruckExpense[0][j] == Date.today.month.to_i %>
                             <td bgcolor="#FFA500"><%= value %></td>
                   <% else %>      
                             <% if i== @arrayWeeklyTruckExpense.size-1 or j== @arrayWeeklyTruckExpense[0].size-1 %>
                                 <% if i== @arrayWeeklyTruckExpense.size-1 and j== @arrayWeeklyTruckExpense[0].size-1 %>
                                     <td bgcolor="#A8F993" style="font-weight:bold"><span class="font-weight:bold">  <%= value %></span> </td>
                                 <% else %>
                                     <td bgcolor="#E8F993"><%= value %></td>
                                 <% end %>
                             <% else %>

                                      <% if value.is_a?(Struct)  %> 
                                         <td><%= value.value.to_s+ '€ '.to_s+value.date.strftime(" %d/%b/%Y") %></td>
                                      <% else %>
                                         <td><%= value %></td>
                                     <% end %>

                             <% end %>
                   <% end %>
            <%end%>
          </tr>
<% end %>
 <%end%>






      </tbody>

<%end%>

</table>



  <% end %>

</fieldset>


<p class="vertical-space">   
</p>
<p class="vertical-space">   
</p>

<fieldset>

<% if (!(@search1.type ==2 and @search1.time == 2)) and (@search1.type ==1)  %>


 <% @pInvoices = @pInvoices.transpose() %>


<% if @arrayWeeklyTruckExpense %>
  <legend> 

<% if (@search1.type ==1)  %>
    Invoiced (avg. <td><%= (@arrayWeeklyTruckExpense[@arrayWeeklyTruckExpense.size-1][@arrayWeeklyTruckExpense[0].size-1].to_i)/(@arrayWeeklyTruckExpense.size-2) %></td>) 
<% end %>

  </legend>
  <table> 
      <tbody>
        <% @arrayWeeklyTruckExpense.each_with_index do |row, i| %>
          <tr>
            <% row.each_with_index do |value, j| %>
                   <% if @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Week') and @arrayWeeklyTruckExpense[0][j] == Date.today.cweek.to_i %>
                             <td bgcolor="#FFA500">
                                    
                                     <% @sizeN = 1 %>

                                      <% @pInvoices[i][j].each_with_index do |inv, k| %>
                                         <% if inv != 0 %>
                                             <small>
                                              <%= inv.name.to_s +  '|'.to_s + inv.date.to_s + '|'.to_s+  (Date.today-inv.date).to_i.to_s+ '|'.to_s+  inv.total_amount.to_s  %>
                                              <% @sizeN = inv.name.length + inv.date.to_s.length-3  %>
                                              </small>
                                         <% end %>
                                      <% end %> 

                                         <% if value != nil and value.to_i>0  %>
                                         <small> 
                                            <%=  value.to_s %>
                                          </small>
                                         <% end %>

                             </td>
                    <% elsif @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Month') and @arrayWeeklyTruckExpense[0][j] == Date.today.month.to_i %>
                             <td bgcolor="#FFA500"><%= value %></td>
                   <% else %>      
                             <% if i== @arrayWeeklyTruckExpense.size-1 or j== @arrayWeeklyTruckExpense[0].size-1 %>
                                 <% if i== @arrayWeeklyTruckExpense.size-1 and j== @arrayWeeklyTruckExpense[0].size-1 %>
                                     <td bgcolor="#A8F993" style="font-weight:bold"><span class="font-weight:bold">  
                                          <% @sizeN = 1 %>

                                      <% @pInvoices[i][j].each_with_index do |inv, k| %>
                                         <% if inv != 0 %>
                                         <small>
                                              <%= inv.name.to_s +  '|'.to_s + inv.date.to_s + '|'.to_s+   (Date.today-inv.date).to_i.to_s> + '|'.to_s+ inv.total_amount.to_s  %>
                                              <% @sizeN = inv.name.length + inv.date.to_s.length-3  %>
                                          </small>
                                              
                                         <% end %>

                                      <% end %> 

                                         <% if value != nil and value.to_i>0 %>
                                         <small> 
                                            <%=  value.to_s %>
                                         </small> 
                                         <% end %>

                                      
                                     </span> </td>
                                 <% else %>
                                     <td bgcolor="#E8F993">
                                           <% @sizeN = 1 %>

                                      <% @pInvoices[i][j].each_with_index do |inv, k| %>
                                         <% if inv != 0 %>
                                         <small>
                                          
                                              <%= inv.name.to_s +  '|'.to_s + inv.date.to_s + '|'.to_s+  (Date.today-inv.date).to_i.to_s+ '|'.to_s+  inv.total_amount.to_s  %>
                                              <% @sizeN = inv.name.length + inv.date.to_s.length-3  %>
                                         </small>
                                          
                                         <% end %>
                                      <% end %> 

                                         <% if value != nil and value.to_i>0 %> 
                                         <small>
                                            <%=  value.to_s %>
                                         </small>
                                         <% end %>

                                     </td>
                                 <% end %>

                             <% else %>
                                      <td>                                          
                                          <% @sizeN = 1 %>
                                        <% @pInvoices[i][j].each_with_index do |inv, k| %>
                                          <% if inv != 0 %>
                                          <small>
                                               <%= inv.name.to_s +  '|'.to_s + inv.date.to_s + '|'.to_s+   (Date.today-inv.date).to_i.to_s+ '|'.to_s+ inv.total_amount.to_s  %>
                                               <% @sizeN = inv.name.length + inv.date.to_s.length-3  %>
                                          </small>
                                          <% end %>
                                        <% end %> 

                                        <% if value != nil  %> 
                                           <% if i != 0 and j !=0  %>
                                            <% if value.to_i >0  %>
                                              <small> 
                                                 <%=  value.to_s %>
                                              </small>
                                            <% end %>
                                            
                                           <% else %>
                                            <small> 
                                               <%=  value.to_s %>
                                            </small>
                                           <% end %>
                                        <% end %>
                                      </td>
                             <% end %>
                   <% end %>
            <%end%>
          </tr>
<% end %>
 <%end%>
      </tbody>
</table>



  <% end %>

</fieldset>



<br>
</body>
</html>
