<!DOCTYPE html>
<html>
<head>

</head>
<body>
<p id="notice"><%= notice %></p>

<fieldset>
      <legend> Calculation Interval </legend>
      <p>Introduce the Event Start/End Date, Driver and Truck to get the cash-flow detailed view</p> 
        <div class="row">
          <div class="pull-right range-query">
            <%= form_tag weekly_path, :method => 'get' do %>
            <%= date_field_tag 'search1[date_from]', @search1.date_from %>
            <%= date_field_tag 'search1[date_to]', @search1.date_to %>
            <%= select_tag 'search1[interval]', options_for_select([["Weeks",1],["Months",2]]) %>
            <%= select_tag 'search1[type]', options_for_select([["Invoice Credits",1],["Salary Debits",2]]) %>
            <%= submit_tag 'Display', class: 'btn search-button' %>  
            <% end %>
          </div>
        </div>
      </br>
</fieldset>

<style>
  .vertical-space {
     margin-bottom: 1.5cm;
  }
</style>
<p class="vertical-space">   
</p>

    <% if false %>
    <td><%= @nb_weeks %></td>
    <td><%= @week_start %></td>
    <td><%= @week_end %></td>
    <% end %>

<fieldset>


<% if !(@search1.type ==2 and @search1.time == 2)  %>

<% if @arrayWeeklyTruckExpense %>
  <legend> Profit (avg. <td><%= (@arrayWeeklyTruckExpense[@arrayWeeklyTruckExpense.size-1][@arrayWeeklyTruckExpense[0].size-1].to_i)/(@arrayWeeklyTruckExpense.size-2) %></td>) 
  </legend>
  <table>
      <tbody>
        <% @arrayWeeklyTruckExpense.each_with_index do |row, i| %>
          <tr>
            <% row.each_with_index do |value, j| %>
                   <% if @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Wk') and @arrayWeeklyTruckExpense[i][0] == Date.today.cweek.to_i %>
                             <td bgcolor="#FFA500"><%= value %></td>
                    <% elsif @arrayWeeklyTruckExpense[0][0].to_s.starts_with?('Mo') and @arrayWeeklyTruckExpense[i][0] == Date.today.month.to_i %>
                             <td bgcolor="#FFA500"><%= value %></td>
                   <% else %>      
                             <% if i== @arrayWeeklyTruckExpense.size-1 or j== @arrayWeeklyTruckExpense[0].size-1 %>
                                 <% if i== @arrayWeeklyTruckExpense.size-1 and j== @arrayWeeklyTruckExpense[0].size-1 %>
                                     <td bgcolor="#A8F993" style="font-weight:bold"><span class="font-weight:bold">  <%= value %></span> </td>
                                 <% else %>
                                     <td bgcolor="#E8F993"><%= value %></td>
                                 <% end %>
                             <% else %>

                                      <% if value.is_a?(Struct)  %> 
                                         <td><%= value.value.to_s+ ' '.to_s+value.date.strftime(" %d/%b/%Y") %></td>
                                      <% else %>
                                         <td><%= value %></td>
                                     <% end %>

                             <% end %>
                   <% end %>
            <%end%>
          </tr>
<% end %>
 <%end%>






      </tbody>
</table>









  <% end %>

</fieldset>

<br>
</body>
</html>
