<%= form_with(model: truck_expense, local: true) do |form| %>
  <% if truck_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck_expense.errors.count, "error") %> prohibited this truck_expense from being saved:</h2>

      <ul>
      <% truck_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if false %>
  <div class="field">
   <%= form.label :truck_id %>
    <%= form.number_field :truck_id, id: :truck_expense_truck_id %>
  </div>
<% end %>

 <%= form.collection_select :truck_id, Truck.all, :id, :NB_PLATE, {prompt: "Number plate"}, :required => 'required' %>

  <div class="field">
    <%= form.label :DATE %>
    <%= form.date_select :DATE, id: :truck_expense_DATE, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :AMOUNT %>
    <%= form.text_field :AMOUNT, id: :truck_expense_AMOUNT, :required => 'required' %>
  </div>


<% if false %>
  <div class="field">
    <%= form.label :INFO %>
    <%= form.text_field :INFO, id: :truck_expense_INFO, :required => 'required' %>
  </div>
<% end %>

<div class="field">
    <%= form.label :INFO %>
    <%= form.select :INFO, options_for_select(['Parts','Repair with Parts','Repair without Parts','Other']), { prompt: "Expense Type"}, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :DESCRIPTION, 'Details of the expense (e.g. what repairs were done, what parts were used etc.)' %>
    <%= form.text_area :DESCRIPTION, id: :truck_expense_DESCRIPTION, :required => 'required' %>
  </div>

<div class="form_group">
  <%= form.label :name, 'You can introduce multiple pdf/jpg files at once.' %>
  <%= form.file_field :images, multiple: true %>
</div>

<p>

<% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
 <div class="field">
    <%= form.label :inv, 'Investment'  %>
    <%= form.check_box :inv, id: :inv%>
 </div>
 <% end %> 
 <div class="field">
    <%= form.label :frt, 'Mark if payment for fuel or road tax Shell/DKV/IDS/AS24/etc'  %>
    <%= form.check_box :frt, id: :frt%>
 </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
