<p id="notice"><%= notice %></p>

<p>
  <strong>Record number:</strong>
  <%= @be_toll.record_number %>
</p>

<p>
  <strong>Reference number:</strong>
  <%= @be_toll.reference_number %>
</p>

<p>
  <strong>Date of detailed trip statement:</strong>
  <%= @be_toll.date_of_detailed_trip_statement %>
</p>

<p>
  <strong>Identification of the road network user:</strong>
  <%= @be_toll.identification_of_the_road_network_user %>
</p>

<p>
  <strong>Bill cycle start date:</strong>
  <%= @be_toll.bill_cycle_start_date %>
</p>

<p>
  <strong>Bill cycle end date:</strong>
  <%= @be_toll.bill_cycle_end_date %>
</p>

<p>
  <strong>Obu serial number:</strong>
  <%= @be_toll.obu_serial_number %>
</p>

<p>
  <strong>Internal obu identifier:</strong>
  <%= @be_toll.internal_obu_identifier %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @be_toll.country_code %>
</p>

<p>
  <strong>Licence plate number:</strong>
  <%= @be_toll.licence_plate_number %>
</p>

<p>
  <strong>Euro emission class:</strong>
  <%= @be_toll.euro_emission_class %>
</p>

<p>
  <strong>Gross combination weight:</strong>
  <%= @be_toll.gross_combination_weight %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @be_toll.payment_method %>
</p>

<p>
  <strong>Date of processing:</strong>
  <%= @be_toll.date_of_processing %>
</p>

<p>
  <strong>Date of usage:</strong>
  <%= @be_toll.date_of_usage %>
</p>

<p>
  <strong>Toll charger:</strong>
  <%= @be_toll.toll_charger %>
</p>

<p>
  <strong>Road type:</strong>
  <%= @be_toll.road_type %>
</p>

<p>
  <strong>Route:</strong>
  <%= @be_toll.route %>
</p>

<p>
  <strong>Entry time:</strong>
  <%= @be_toll.entry_time %>
</p>

<p>
  <strong>Charged distance:</strong>
  <%= @be_toll.charged_distance %>
</p>

<p>
  <strong>Distance unit:</strong>
  <%= @be_toll.distance_unit %>
</p>

<p>
  <strong>Charged amount excluding vat:</strong>
  <%= @be_toll.charged_amount_excluding_vat %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @be_toll.currency %>
</p>

<p>
  <strong>Vat indicator:</strong>
  <%= @be_toll.vat_indicator %>
</p>

<%= link_to 'Edit', edit_be_toll_path(@be_toll) %> |
<%= link_to 'Back', be_tolls_path %>
