<!DOCTYPE html>

<% if user_signed_in? %>
<div class="row">
  <div class="column">


<h3>Daily Activities:</h3>
<table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Activity', new_activity_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Activities', activities_path %> </th>
  </tr>

  <tr>
    <th> <%= link_to 'CombinexPallets', mission51_path %> </th>
  </tr>

  </table>

    
<h3>Trucks:</h3>
<table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Truck', new_truck_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Trucks', trucks_path %> </th>
  </tr>
  </table>
<h3>Truck Expenses:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Truck Expense', new_truck_expense_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Truck Expenses', truck_expenses_path %> </th>
  </tr>
</table>

<h3>Trailers:</h3>
<table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Trailer', new_trailer_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Trailers', trailers_path %> </th>
  </tr>
  </table>

  <% if   current_user != nil %> 
      <h3>Clients:</h3>
        <table style="width:100%"  border="1">
        <tr>
          <th> <%= link_to 'New Client', new_client_path %> </th>
        </tr>
        <tr>
          <th> <%= link_to 'All Clients', clients_path %> </th>
        </tr>
      </table>
  <% end %>

</div>

  <div class="column">  

<h3>Drivers:</h3>
<table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Driver', new_driver_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Drivers', drivers_path %> </th>
  </tr>
  </table>


<h3>Driver Expenses:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Driver Expense', new_driver_expense_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Driver Expenses', driver_expenses_path %> </th>
  </tr>
</table>

<h3>Trips:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Trip', new_invoiced_trip_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Trips', invoiced_trips_path %> </th>
  </tr>
</table>



  <% if   current_user != nil %> 
      <h3>Pricing Events:</h3>
        <table style="width:100%"  border="1">
        <tr>
          <th> <%= link_to 'New Pricing Change', new_pricing_path %> </th>
        </tr>
        <tr>
          <th> <%= link_to 'Pricing History', pricings_path %> </th>
        </tr>
      </table>
  <% end %>




<% if current_user != nil and !(current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
<h3>Toll Generic:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Generic Toll', new_generic_toll_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Generic Tolls', generic_tolls_path %> </th>
  </tr>
</table>
<% end %>   


  </div>

  <div class="column">
<h3>Driver Events:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Driver Event', new_event_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Driver Events', events_path %> </th>
  </tr>
</table>

<h3>Invoices:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Invoice', new_invoice_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Invoices', invoices_path %> </th>
  </tr>
</table>


<h3>All Periodics:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Periodic', new_periodic_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Periodics', periodics_path %> </th>
  </tr>
</table>

<h3>Periodic categories:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Periodic Category', new_periodics_category_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Periodic Category', periodics_categories_path %> </th>
  </tr>
</table>


<h3>Repairs:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Repair', new_repair_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Repairs', repairs_path %> </th>
  </tr>
</table>


</div>
</table>

<div class="column">
<% if false %>
<h3>Toll Germany:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Germany Toll', new_germany_toll_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Germany Tolls', germany_tolls_path %> </th>
  </tr>
<%end%>  

<h3>Toll Germany:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Germany Toll', new_de_toll_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'File Import', de_toll_file_import_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Germany Toll', de_tolls_path %> </th>
  </tr>

</table>


<h3>Toll Belgium:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Belgium Toll', new_be_toll_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'File Import', be_toll_file_import_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Belgium Toll', be_tolls_path %> </th>
  </tr>

</table>  

<h3>Fuel Expense:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Fuel Expense', new_fuel_expense_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'File Import', fuel_expense_file_import_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Fuel Expenses', fuel_expenses_path %> </th>
  </tr>
</table>

<% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
<h3>Toll Generic:</h3>
  <table style="width:100%"  border="1">
  <tr>
    <th> <%= link_to 'New Generic Toll', new_generic_toll_path %> </th>
  </tr>
  <tr>
    <th> <%= link_to 'All Generic Tolls', generic_tolls_path %> </th>
  </tr>
</table>
<% end %>   

  </div>

<p id="notice"><%= notice %></p>


</body>
<% else %>
<h1>Welcome to FinAdmin!</h1>
<p>For further usage please login.</p>
<% end %>
</html>
