<h2>Log in</h2>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,maxlength: 30,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,maxlength: 30,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>

<% end %>

<script type="text/javascript" src="https://oilprice.com/widgets/brent/brentchart.js"></script><noscript><!--Please Enable Javascript for this <a href="https://oilprice.com/">Oil Price</a> widget to work--></noscript>

<script type="text/javascript" src="https://oilprice.com/widgets/crude/crudechart.js"></script><noscript>Please Enable Javascript for this <a href="https://oilprice.com/">Oil Price</a> widget to work</noscript>

<script type="text/javascript" src="https://oilprice.com/widgets/brent/brentchart-small.js"></script><noscript>Please Enable Javascript for this <a href="https://oilprice.com/">Oil Price</a> widget to work</noscript>

<script type="text/javascript" src="https://oilprice.com/widgets/crude/crudechart-small.js"></script><noscript>Please Enable Javascript for this <a href="https://oilprice.com/">Oil Price</a> widget to work</noscript>