

<%= form_with(model: de_toll, local: true) do |form| %>
  <% if de_toll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(de_toll.errors.count, "error") %> prohibited this de_toll from being saved:</h2>

      <ul>
      <% de_toll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :platenr %>
    <%= form.text_field :platenr, id: :de_toll_platenr %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :de_toll_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :de_toll_time %>
  </div>

  <div class="field">
    <%= form.label :bookingid %>
    <%= form.text_field :bookingid, id: :de_toll_bookingid %>
  </div>

  <div class="field">
    <%= form.label :art %>
    <%= form.number_field :art, id: :de_toll_art %>
  </div>

  <div class="field">
    <%= form.label :road %>
    <%= form.text_field :road, id: :de_toll_road %>
  </div>

  <div class="field">
    <%= form.label :via %>
    <%= form.text_field :via, id: :de_toll_via %>
  </div>

  <div class="field">
    <%= form.label :departure %>
    <%= form.text_field :departure, id: :de_toll_departure %>
  </div>

  <div class="field">
    <%= form.label :costcentre %>
    <%= form.number_field :costcentre, id: :de_toll_costcentre %>
  </div>

  <div class="field">
    <%= form.label :tariffmodel %>
    <%= form.number_field :tariffmodel, id: :de_toll_tariffmodel %>
  </div>

  <div class="field">
    <%= form.label :axelclass %>
    <%= form.number_field :axelclass, id: :de_toll_axelclass %>
  </div>

  <div class="field">
    <%= form.label :weightclass %>
    <%= form.number_field :weightclass, id: :de_toll_weightclass %>
  </div>

  <div class="field">
    <%= form.label :emissioncat %>
    <%= form.number_field :emissioncat, id: :de_toll_emissioncat %>
  </div>

  <div class="field">
    <%= form.label :roadoperators %>
    <%= form.number_field :roadoperators, id: :de_toll_roadoperators %>
  </div>

  <div class="field">
    <%= form.label :ver %>
    <%= form.text_field :ver, id: :de_toll_ver %>
  </div>

  <div class="field">
    <%= form.label :km %>
    <%= form.text_field :km, id: :de_toll_km %>
  </div>

  <div class="field">
    <%= form.label :eur %>
    <%= form.text_field :eur, id: :de_toll_eur %>
  </div>

  <div class="field">
    <%= form.label :truck_id %>
    <%= form.number_field :truck_id, id: :de_toll_truck_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
