<p id="notice"><%= notice %></p>

<p>
  <strong>Platenr:</strong>
  <%= @de_toll.platenr %>
</p>

<p>
  <strong>Date:</strong>
  <%= @de_toll.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @de_toll.time %>
</p>

<p>
  <strong>Bookingid:</strong>
  <%= @de_toll.bookingid %>
</p>

<p>
  <strong>Art:</strong>
  <%= @de_toll.art %>
</p>

<p>
  <strong>Road:</strong>
  <%= @de_toll.road %>
</p>

<p>
  <strong>Via:</strong>
  <%= @de_toll.via %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @de_toll.departure %>
</p>

<p>
  <strong>Costcentre:</strong>
  <%= @de_toll.costcentre %>
</p>

<p>
  <strong>Tariffmodel:</strong>
  <%= @de_toll.tariffmodel %>
</p>

<p>
  <strong>Axelclass:</strong>
  <%= @de_toll.axelclass %>
</p>

<p>
  <strong>Weightclass:</strong>
  <%= @de_toll.weightclass %>
</p>

<p>
  <strong>Emissioncat:</strong>
  <%= @de_toll.emissioncat %>
</p>

<p>
  <strong>Roadoperators:</strong>
  <%= @de_toll.roadoperators %>
</p>

<p>
  <strong>Ver:</strong>
  <%= @de_toll.ver %>
</p>

<p>
  <strong>Km:</strong>
  <%= @de_toll.km %>
</p>

<p>
  <strong>Eur:</strong>
  <%= @de_toll.eur %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @de_toll.truck_id %>
</p>

<%= link_to 'Edit', edit_de_toll_path(@de_toll) %> |
<%= link_to 'Back', de_tolls_path %>
