<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>
<h1>Drivers</h1>
<h4>This page is dedicated to the drivers description - you can see the existent list of drivers, modify them or introduce new ones.</h4>
<ul>
 
  <li>
  <p>
  <h4> Download All Drivers as CSV or Excel file:
  <%= link_to "CSV", drivers_path(format: "csv") %> |
  <%= link_to "Excel", drivers_path(format: "xls") %> 
  </h4> 
  </p>
  </li>


  <li>
  <div>
  <h4> Import Drivers from CSV file: </h4>
    <%= form_tag import_drivers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag  "Import CSV"%>
  <% end %>
  </div>
  </li>

  <li>
  <p>
  <h4> Create <%= link_to 'New Driver ',new_driver_path %> </h4> 
  </p>
  </li>

</ul>
<table>
  <thead>
    <tr>
      <th>Cnp</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Employment Date</th>
      <th>Termination Date</th>
 <% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
      <th>Salary</th>
       <% end %>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.CNP %></td>
        <td><%= driver.FIRSTNAME %></td>
        <td><%= driver.SECONDNAME %></td>
        <td><%= driver.StartDate %></td>
        <td><%= driver.EndDate %></td>
         <% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
        <td><%= driver.INFO %></td>
         <% end %>
        <td><%= driver.DESCRIPTION %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>