<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1>Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Cnp</th>
      <th>Firstname</th>
      <th>Secondname</th>
      <th>Employment Date</th>
      <th>Termination Date</th>
      <th>Salary</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.CNP %></td>
        <td><%= driver.FIRSTNAME %></td>
        <td><%= driver.SECONDNAME %></td>
        <td><%= driver.StartDate %></td>
        <td><%= driver.EndDate %></td>
        <td><%= driver.INFO %></td>
        <td><%= driver.DESCRIPTION %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path %>
