<p id="notice"><%= notice %></p>

<p>
  <strong>Cnp:</strong>
  <%= @driver.CNP %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @driver.FIRSTNAME %>
</p>

<p>
  <strong>Secondname:</strong>
  <%= @driver.SECONDNAME %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @driver.StartDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @driver.EndDate %>
</p>

<% if current_user != nil and (current_user.admin == true or current_user.email.eql?  "ameropa.logistics@gmail.com") %> 
    <p>
      <strong>Salary:</strong>
      <%= @driver.INFO %>
    </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @driver.DESCRIPTION %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>