<style>
.textAreaColumn{
    width:90%;    
}

.textAreaColumn div{
    float:left;
    width:19%;
    padding:2px;
    box-sizing: border-box;
}

.textAreaColumn div span{
    display:block;
    text-align:center;
}

.textAreaColumn div textarea{
    box-sizing: border-box;
    width:100%;
    border:2px solid blue;
    max-height:100px;
}

.textAreaColumn1 textarea{
    box-sizing: border-box;
    width:10%;
    border:3px solid green;
    max-height:100px;
}

.container {
  width: 100px;
  height: 100px;
  position: relative;
}
.navi,
.infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.infoi {
  z-index: 10;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  background-color: #728085;
  color: white;
}
legend {
  padding: 2px;
  border: 1px solid green;
}

.fieldspec {
  width: 15px;
  text-align: center;
  font-size: 12px;
}

</style>

<h2>Important!! - Facturile de paleti platite sau incasate se introduc in fromatul nr referinta: cursa | Pret(euro) | Nr factura</h2>

<h2>Important!! - La schimburile de paleti se introduce obligatoriu adresa locatiei </h2>

<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= form.date_select :date %>

<%= form.collection_select :invoiced_trip_id, InvoicedTrip.find_by_sql(['SELECT * FROM invoiced_trips where invoiced_trips."StartDate" > ? AND invoiced_trips."StartDate" <  ?', Date.today-100, Date.today+10]), :id, :info, {prompt: "Trip"} %>

<%= form.collection_select :DRIVER_id, Driver.find_by_sql(['SELECT * FROM drivers where drivers.active = ? 
                    ORDER BY drivers.SECONDNAME ASC', true]) , :id, :name_with_cnp, {prompt: "Driver Name and CNP"},:required => 'required'%>
<%= form.collection_select :truck_id, Truck.all.where(:active => true).order(:NB_PLATE), :id, :NB_PLATE, {prompt: "Truck Nb Plate"}, :required => 'required' %>
<%= form.collection_select :trailer_id, Trailer.all, :id, :NB_PLATE, {prompt: "Trailer Nb Plate"} %>
<%= form.collection_select :client_id, Client.all.where(:active => true), :id, :Name, {prompt: "Client"} %>

<%= form.collection_select :invoiced_trip_id, DriverExpense.find_by_sql(['SELECT * FROM driver_expenses where driver_expenses."DATE" BETWEEN ? AND ?', Date.today-50, Date.today+10]), :id, :id_with_info, {prompt: "DriverExpense"} %>

<%= form.collection_select :truck_expense_id, TruckExpense.find_by_sql(['SELECT * FROM truck_expenses where truck_expenses."DATE" BETWEEN ? AND ?', Date.today-50, Date.today+10]), :id, :id_with_info, {prompt: "TruckExpense"} %>
 
<%= form.collection_select :dispatcher_id, Dispatcher.all, :id, :FIRSTNAME, {:include_blank => 'All Dispatchers'} %>

  </div>


  

<div class="textAreaColumn1">
  

  <div class="field">
    <%= form.label :km_evogps, "Km EVOGPS" %>
    <%= form.number_field :km_evogps %>
  </div>


  <div class="field">
    <%= form.label :km_destination, "Km destination" %>
    <%= form.number_field :km_destination %>
  </div>


<div class="field">
    <%= form.label :starting_time %>
    <%= form.time_select :starting_time, id: :starting_time, :required => 'required' %>
</div>



<div class="field">
    <%= form.label :driving_time_left %>
    <%= form.time_select :driving_time_left, id: :driving_time_left, :required => 'required' %>
</div>

<div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, id: :end_time, :required => 'required' %>
</div>




  <div class="field">
    <%= form.label :night_break, "Night break" %>
    <%= form.time_select :night_break %>
  </div>

  <div class="field">
    <%= form.label :weekend_break, "Weekend break" %>
    <%= form.number_field :weekend_break %>
  </div>




</div>


<div class="textAreaColumn">
  
  <div class="field">
    <%= form.label :start_address %>
    <%= form.text_area :start_address %>
  </div>

  <div class="field">
    <%= form.label :dest_addresses %>
    <%= form.text_area :dest_addresses %>
  </div>













  <div class="field">
    <%= form.label :references %>
    <%= form.text_area :references %>
  </div>













  </div>





<br>
<br>
<br>
<br>
<br>


<div class="textAreaColumn">


  <div class="field">
    <%= form.label :pallets_paid_out, "Pallet inv paid      (reference|price|invoice Nb)" %>
    <%= form.text_area :pallets_paid_out %>
  </div>

  <div class="field">
    <%= form.label :pallets_paid_in,  "Pallet inv collected (reference|price|invoice Nb)" %>
    <%= form.text_area :pallets_paid_in %>
  </div>


  <div class="field">
    <%= form.label :tanking_location, "Location where truck has tanked diesel/adblue" %>
    <%= form.text_area :tank %>
  </div>

</div>


<br>
<br>
<br>
<br>
<br>


<div id="container">

<fieldset>
  <div class="field">
    <%= form.label :full, 'Bifeaza daca s-a facut PLINUL LA REZERVOR'  %>
    <%= form.check_box :full, id: :full%>
  </div>

  <div class="field">
    <%= form.label :volume, "Volume diesel" %>
    <%= form.number_field :volume %>
  </div>


  <div class="field">
    <%= form.label :odometer, "Kilometraj" %>
    <%= form.number_field :odometer %>
  </div>

</fieldset>

<br>


  <div class="field">
    <%= form.label :comments, "Dispatcher comments regarding hourly activities!" %>
    <%= form.text_area :comments , size: "100x11" %>
  </div>




  <div class="field">
    <%= form.label :client_comment, "Client comments pallets, delays, etc..." %>
    <%= form.text_area :client_comment , size: "100x5" %>
  </div>

  </div>

  <div class="form_group">
    <%= form.label :name, 'You can introduce multiple pdf/jpg files at once. (AMENZI,PARCARI, etc)' %>
    <%= form.file_field :images, multiple: true %>
  </div>

<fieldset>
  <p>Added text and files for the email to be sent to the client:</p>  

   <div class="field" style="text-align: left; font-weight: bold;">
    <%= form.label :email_text %>
    <%= form.text_area :email_text %>
  </div>

  <div class="form_group" style="text-align: left; font-weight: bold;">
    <%= form.label :name, 'You can introduce multiple TRIP pdf/jpg files at once.' %>
    <%= form.file_field :trip_images, multiple: true %>
  </div>


</fieldset>





<p></p>
<p></p>

<table>
  <% @activity.images.each_with_index do |image,index| %>

  <% if (index+1)%6 == 0 %>
     <tr>
  <% end %>

  <td> 
  <% if false %>
    <%= image_tag(url_for(image), height: '200', width: '200') %>
  <% end %>
        
        <% if  (image.blob!=nil and image.previewable?) %>
          <%= image.filename.to_s %>
          <br>
          <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200')%>
         
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

       <% elsif (image.blob !=nil and image.variable?)  %> 
         <%= image.filename.to_s %>
         <br>
         <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
         
       <% if false %>
       <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
       <% end %>

       <% else  %> 
        <%= image.filename.to_s %>
        <br>  
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      <% end %>
  <br>


  <%if image.blob !=nil  %>     
   <%= link_to 'Download', image, download: image %>
   <br>
   <%= link_to 'Remove', delete_image_activity_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
 <% end %>

</td>

<% if (index+1)%6 == 0 %>
     </tr>
<% end %>

<% end %>

</table>


  <p></p>



<p></p>

<table>
  <% @activity.trip_images.each_with_index do |image,index| %>

  <% if (index+1)%6 == 0 %>
     <tr>
  <% end %>

  <td> 
  <% if false %>
    <%= image_tag(url_for(image), height: '200', width: '200') %>
  <% end %>
        
        <% if  (image.blob!=nil and image.previewable?) %>
          <%= image.filename.to_s %>
          <br>
          <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200')%>
         
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

       <% elsif (image.blob !=nil and image.variable?)  %> 
         <%= image.filename.to_s %>
         <br>
         <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
         
       <% if false %>
       <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
       <% end %>

       <% else  %> 
        <%= image.filename.to_s %>
        <br>  
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      <% end %>
  <br>


  <%if image.blob !=nil  %>     
   <%= link_to 'Download', image, download: image %>
   <br>
   <%= link_to 'Remove', delete_image_activity_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
 <% end %>

</td>

<% if (index+1)%6 == 0 %>
     </tr>
<% end %>

<% end %>

</table>


  <p></p>

<br>



<TABLE BORDER="1">
  <TR>
  <TD>START of the day</TD>

<TD>
</TD>


<TD>
</TD>


<TD>
</TD>


<TD>
</TD>



<TD>
</TD>


<TD>
</TD>


<TD>
</TD>


 
  <TD>
   <div class="field">
    <%= form.label :start_ep , "EPs" %>
    <%= form.number_field :start_ep,:size=>"2" %>
   </div>
    </TD>
 


  <TD>
  <div class="field">
    <%= form.label :start_dp, "DPs" %>
    <%= form.number_field :start_dp,:size=>"2" %>
  </div>
    </TD>

 <TD>
<div class="field">
    <%= form.label :start_op, "OPs" %>
    <%= form.number_field :start_op,:size=>"2" %>
  </div>
</TD>

  </TR>






  <TR>


   <TD>
    <div class="field">
     <%= form.label :dest1_address , "Int Address 1" %>
     <%= form.text_area :dest1_address%>
     </div>
    </TD>
  
  <TD>
   <div class="field">
    <%= form.label :dest1_comments , "Comments" %>
    <%= form.text_area :dest1_comments %>
   </div>
  </TD>


 
  <TD>
   <div class="field">
    <%= form.label :dest1_unloaded_ep , "UnLD EPs" %>
    <%= form.number_field :dest1_unloaded_ep,:size=>"2" %>
   </div>
    </TD>


  <TD>
   <div class="field">
    <%= form.label :dest1_loaded_ep , "LD EPs" %>
    <%= form.number_field :dest1_loaded_ep,:size=>"2" %>
   </div>
    </TD>


  <TD>
   <div class="field">
    <%= form.label :dest1_unloaded_dp , "UnLD DPs" %>
    <%= form.number_field :dest1_unloaded_dp,:size=>"2" %>
   </div>
    </TD>
  

  <TD>
   <div class="field">
    <%= form.label :dest1_loaded_dp , "LD DPs" %>
    <%= form.number_field :dest1_loaded_dp,:size=>"2" %>
   </div>
    </TD>



  <TD>
   <div class="field">
    <%= form.label :dest1_unloaded_op , "UnLD OPs" %>
    <%= form.number_field :dest1_unloaded_op,:size=>"2" %>
   </div>
    </TD>


  <TD>
   <div class="field">
    <%= form.label :dest1_loaded_op , "LD OPs" %>
    <%= form.number_field :dest1_loaded_op,:size=>"2" %>
   </div>
    </TD>



  <TD>
    </TD>
 


  <TD>
    </TD>

 <TD>
</TD>




  </TR>





  <TR>


   <TD>
    <div class="field">
     <%= form.label :dest2_address , "Int Address 2" %>
     <%= form.text_area :dest2_address%>
     </div>
    </TD>
  
  <TD>
   <div class="field">
    <%= form.label :dest2_comments , "Comments" %>
    <%= form.text_area :dest2_comments %>
   </div>
  </TD>


 
  <TD>
   <div class="field">
    <%= form.label :dest2_unloaded_ep , "UnLD EPs" %>
    <%= form.number_field :dest2_unloaded_ep,:size=>"2" %>
   </div>
    </TD>



  <TD>
   <div class="field">
    <%= form.label :dest2_loaded_ep , "LD EPs" %>
    <%= form.number_field :dest2_loaded_ep,:size=>"2" %>
   </div>
    </TD>


  <TD>
   <div class="field">
    <%= form.label :dest2_unloaded_dp , "UnLD DPs" %>
    <%= form.number_field :dest2_unloaded_dp,:size=>"2" %>
   </div>
    </TD>
  


  <TD>
   <div class="field">
    <%= form.label :dest2_loaded_dp , "LD DPs" %>
    <%= form.number_field :dest2_loaded_dp,:size=>"2" %>
   </div>
    </TD>

  <TD>
   <div class="field">
    <%= form.label :dest2_unloaded_op , "UnLD OPs" %>
    <%= form.number_field :dest2_unloaded_op,:size=>"2" %>
   </div>
    </TD>





  <TD>
   <div class="field">
    <%= form.label :dest2_loaded_op , "LD OPs" %>
    <%= form.number_field :dest2_loaded_op,:size=>"2" %>
   </div>
    </TD>



  <TD>
    </TD>
 


  <TD>
    </TD>

 <TD>
</TD>










</TABLE>




<br/>


 <p></p>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
