<%= form_tag  update_individual_activities_path, method: :put do %>

 <div class="field">
     <%= collection_select :invoiced_trip_id,  :id, InvoicedTrip.order(date: :desc), :id, :info, {prompt: "Trip"} %>
 </div>

  <% @activities.each do |activity| %>
    <%= fields_for "activities[]", activity do |f| %>


     <%= @drivers.find(activity.DRIVER_id).CNP.split(//).last(0).join+" "+
                                         @drivers.find(activity.DRIVER_id).FIRSTNAME.split.first+" "+
                                         @drivers.find(activity.DRIVER_id).SECONDNAME.split.first + " /"%> 

     <%= @trucks.find(activity.truck_id).NB_PLATE %>
      <% if @trailers != nil and activity.trailer_id != nil and @trailers.find(activity.trailer_id) != nil %>
       <%= +" /".to_s + @trailers.find(activity.trailer_id).NB_PLATE %>
     <% end %>
       
     <% if activity.night_break == nil or activity.night_break == 0 %>
          <div class="field">
            <%= f.label :night_break, "Night break" %>
            <%= f.time_select :night_break %>
          </div>
      <% end %>

      <% if activity.weekend_break == nil or activity.weekend_break == 0 %>
        <div class="field">
          <%= f.label :weekend_break, "Weekend break" %>
          <%= f.number_field :weekend_break %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :comments %>
        <%= f.text_area :comments , size: "100x11" %>
      </div>

    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag "Update" %>
  </div>
<% end %>