<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="activities">
    <Table>
      <Row>
      <Cell><Data ss:Type="String">Vehicle</Data></Cell>
      <Cell><Data ss:Type="String">Trailer</Data></Cell>  

<Cell><Data ss:Type="String">Km till destination</Data></Cell>
  

<Cell><Data ss:Type="String">Started to work</Data></Cell>
  

<Cell><Data ss:Type="String">Driving H left</Data></Cell>
  

<Cell><Data ss:Type="String">Working time ends</Data></Cell>
  

<Cell><Data ss:Type="String">Night break following night</Data></Cell>
  

<Cell><Data ss:Type="String">Weekend break</Data></Cell>
  

<Cell><Data ss:Type="String">How much Euro pallets has now?</Data></Cell>
  

<Cell><Data ss:Type="String">Notes</Data></Cell>
  



            </Row>
    <% @activities1.each do |activity| %>
      <Row>
        <Cell><Data ss:Type="String"><%= @trucks.find(activity.truck_id).NB_PLATE %></Data></Cell>
        <Cell><Data ss:Type="String"><%= if activity.trailer_id!=nil  and @trailers.exists?(activity.trailer_id)
         @trailers.find(activity.trailer_id).NB_PLATE
         else
          " "
         end %></Data></Cell>

       
         <Cell><Data ss:Type="String"><%= activity.km_destination %></Data></Cell>
         <Cell><Data ss:Type="String"><%= activity.starting_time.try(:strftime,"%H:%M") %></Data></Cell>
         <Cell><Data ss:Type="String"><%= activity.driving_time_left.try(:strftime,"%H:%M") %></Data></Cell>
         <Cell><Data ss:Type="String"><%= activity.end_time.try(:strftime,"%H:%M") %></Data></Cell>
         <Cell><Data ss:Type="String"><%= activity.night_break.try(:strftime,"%H:%M") %></Data></Cell>
         <Cell><Data ss:Type="String"><%= activity.weekend_break %></Data></Cell>
         <Cell><Data ss:Type="String"><%= activity.start_ep.to_s %></Data></Cell>



      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>







