<h1>Activities - <%= Time.now.utc.strftime("%d of %B %Y") %> at <%= (Time.now.utc+60*60).strftime("%H:%M") %> 
</h1>

<table>
  <thead>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

    <tr>
      <th>Date</th>
      <th>Dispatcher</th>
      <th>Truck</th>
      <th>Trailer</th>
       <th>TripInfo</th>
      
      <th>Starting Time</th>
      <th>Driving Time Left</th>
      <th>End Driving Time</th>
      <th>Night Break</th>
      <th>Weekend Break</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
    <% bg_color = "white" %>

    <% if activity.date == Time.now.utc.to_date%>
      <% bg_color = "#66ff66" %>
    
    <% elsif activity.date == Time.now.utc.to_date-1%>
      <% bg_color = "#00e500" %>
     
    <% elsif activity.date == Time.now.utc.to_date-2%>
      <% bg_color = "#00cc00" %>

    <% elsif activity.date == Time.now.utc.to_date-3%>
     <% bg_color = "#00b200" %>
     
    <% elsif activity.date == Time.now.utc.to_date-4%>
     <% bg_color = "#009900" %>
     
    <% elsif activity.date == Time.now.utc.to_date-5%>
     <% bg_color = "#007f00" %>
     
    <% elsif activity.date == Time.now.utc.to_date-6%>
     <% bg_color = "#6666ff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-7%>
     <% bg_color = "#4c4cff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-8%>
     <% bg_color = "#3232ff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-9%>
     <% bg_color = "#1919ff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-10%>
     <% bg_color = "#0000ff" %>
     
    <% else %>
     <% bg_color = "white" %>
    <% end %>   


      <tr>

        <td bgcolor= <%=bg_color %> ><%= activity.date.strftime("%d/%m") %></td>
          
      

<% if activity.dispatcher_id != nil %>
        <td bgcolor= <%=bg_color %> ><%= @dispatchers.find(activity.dispatcher_id).FIRSTNAME + " ".to_s+  @dispatchers.find(activity.dispatcher_id).SECONDNAME[0]+ ".".to_s %></td>    
<% else %>
        <td bgcolor= "FFAC00"> NO DISPATCH </td>    
<% end %>


        <td bgcolor= <%=bg_color %> ><%= @trucks.find(activity.truck_id).NB_PLATE %></td>
        <td bgcolor= <%=bg_color %> ><%= if activity.trailer_id!=nil  and @trailers.exists?(activity.trailer_id)
         @trailers.find(activity.trailer_id).NB_PLATE
         else
          " "
         end %></td>

        
<td bgcolor= <%=bg_color %> > 
<% if activity.invoiced_trip_id != nil%>   

        <%= @invoiced_trips.find(activity.invoiced_trip_id).info %>

    <% else %>

<% end %>


        <td bgcolor= <%=bg_color %> ><%= activity.starting_time.try(:strftime,"%H:%M") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.driving_time_left.try(:strftime,"%H:%M") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.end_time.try(:strftime,"%H:%M") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.night_break.try(:strftime,"%H:%M") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.weekend_break %></td>









       <td bgcolor= <%=bg_color %> >
        <div style="white-space: pre-wrap; white-space:  pre-line;"> <%= activity.comments %></div>
        </td>
      





      </tr>





    <% end %>
  </tbody>
</table>

<br>
