<h1>Activities - <%= Time.now.utc.strftime("%d of %B %Y") %> at <%= (Time.now.utc+60*60).strftime("%H:%M") %> 
</h1>

<table>
  <thead>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

    <tr>
      <th></th>
      <th>Disp/T/T/D</th>
      <th>Trip</th>
      
      <th>TStart</th>
      <th>TLeft</th>
      <th>TEnd</th>
      <th>Br</th>
      <th>WkBr</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each_with_index do |activity,i| %>
    <% bg_color = "white" %>

    <% if activity.date == Time.now.utc.to_date%>
      <% bg_color = "#66ff66" %>
    
    <% elsif activity.date == Time.now.utc.to_date-1%>
      <% bg_color = "#00e500" %>
     
    <% elsif activity.date == Time.now.utc.to_date-2%>
      <% bg_color = "#00cc00" %>

    <% elsif activity.date == Time.now.utc.to_date-3%>
     <% bg_color = "#00b200" %>
     
    <% elsif activity.date == Time.now.utc.to_date-4%>
     <% bg_color = "#009900" %>
     
    <% elsif activity.date == Time.now.utc.to_date-5%>
     <% bg_color = "#007f00" %>
     
    <% elsif activity.date == Time.now.utc.to_date-6%>
     <% bg_color = "#6666ff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-7%>
     <% bg_color = "#4c4cff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-8%>
     <% bg_color = "#3232ff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-9%>
     <% bg_color = "#1919ff" %>
     
    <% elsif activity.date == Time.now.utc.to_date-10%>
     <% bg_color = "#0000ff" %>
     
    <% else %>
     <% bg_color = "white" %>
    <% end %>   


      <tr>
<td bgcolor= <%=bg_color %> ><%= i+1 %></td>
          
      



        <td bgcolor= <%=bg_color %> >

        <% if activity.dispatcher_id != nil %>
            <%= @dispatchers.find(activity.dispatcher_id).FIRSTNAME + "/"%>    
        <% else %>
            <%= "-".to_s + "/" %>
        <% end %>



  <% if activity.trailer_id!=nil  and @trailers.exists?(activity.trailer_id) %>
    <%=             @trailers.find(activity.trailer_id).NB_PLATE    %>   
          <% else %>
             <%="-".to_s %>
          <% end %> 


          <%="/" + @trucks.find(activity.truck_id).NB_PLATE + "/" %>


<% if activity.DRIVER_id!=nil  and @drivers.exists?(activity.DRIVER_id) %>

   
    <%= @drivers.find(activity.DRIVER_id).FIRSTNAME.split.first[0] + "."+ @drivers.find(activity.DRIVER_id).SECONDNAME.split.first  %>
 <% else %>
            -     
          <% end %> 


        
<td bgcolor= <%=bg_color %> > 
<% if activity.invoiced_trip_id != nil%>   

        <%= @invoiced_trips.find(activity.invoiced_trip_id).info %>

    <% else %>
  <%= activity.references %>
<% end %>


        <td bgcolor= <%=bg_color %> ><%= activity.starting_time.try(:strftime,"%H:%M") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.driving_time_left.try(:strftime,"%H:%M") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.end_time.try(:strftime,"%H:%M") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.night_break.try(:strftime,"%H") %></td>
        <td bgcolor= <%=bg_color %> ><%= activity.weekend_break %></td>









       <td bgcolor= <%=bg_color %> >
        <div style="white-space: pre-wrap; white-space:  pre-line;"> <%= activity.comments %></div>
        </td>
      





      </tr>





    <% end %>
  </tbody>
</table>

<br>
