<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @activity.DRIVER_id %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @activity.truck_id %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @activity.trailer_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @activity.client_id %>
</p>

<p>
  <strong>Driver expense:</strong>
  <%= @activity.driver_expense_id %>
</p>

<p>
  <strong>Truck expense:</strong>
  <%= @activity.truck_expense_id %>
</p>

<p>
  <strong>Start address:</strong>
  <%= @activity.start_address %>
</p>

<p>
  <strong>Dest addresses:</strong>
  <%= @activity.dest_addresses %>
</p>

<p>
  <strong>References:</strong>
  <%= @activity.references %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @activity.volume %>
</p>

<p>
  <strong>Tank:</strong>
  <%= @activity.tank %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @activity.comments %>
</p>


<p>
  <strong>EmailTrip:</strong>
  <%= @activity.email_text %>
</p>

<table>
  <% @activity.images.each_with_index do |image,index| %>

  <% if (index+1)%6 == 0 %>
     <tr>
  <% end %>

  <td> 
  <% if false %>
    <%= image_tag(url_for(image), height: '200', width: '200') %>
  <% end %>
        
        <% if  (image.blob!=nil and image.previewable?) %>
          <%= image.filename.to_s %>
          <br>
          <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200')%>
         
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

       <% elsif (image.blob !=nil and image.variable?)  %> 
         <%= image.filename.to_s %>
         <br>
         <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
         
       <% if false %>
       <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
       <% end %>

       <% else  %> 
        <%= image.filename.to_s %>
        <br>  
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      <% end %>
  <br>


  <%if image.blob !=nil  %>     
   <%= link_to 'Download', image, download: image %>
   <br>
   <%= link_to 'Remove', delete_image_activity_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
 <% end %>

</td>

<% if (index+1)%6 == 0 %>
     </tr>
<% end %>

<% end %>

</table>



<table>
  <% @activity.trip_images.each_with_index do |image,index| %>

  <% if (index+1)%6 == 0 %>
     <tr>
  <% end %>

  <td> 
  <% if false %>
    <%= image_tag(url_for(image), height: '200', width: '200') %>
  <% end %>
        
        <% if  (image.blob!=nil and image.previewable?) %>
          <%= image.filename.to_s %>
          <br>
          <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200')%>
         
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

       <% elsif (image.blob !=nil and image.variable?)  %> 
         <%= image.filename.to_s %>
         <br>
         <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
         
       <% if false %>
       <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
       <% end %>

       <% else  %> 
        <%= image.filename.to_s %>
        <br>  
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      <% end %>
  <br>


  <%if image.blob !=nil  %>     
   <%= link_to 'Download', image, download: image %>
   <br>
   <%= link_to 'Remove', delete_trip_image_activity_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
 <% end %>

</td>

<% if (index+1)%6 == 0 %>
     </tr>
<% end %>

<% end %>

</table>



<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
