<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



</style>




<title>CSS Website Layout</title>
<meta charset="utf-8">
<style>
* {
    box-sizing: border-box;
}



body {
  margin: 2px;
}

/* Style the header */
.header {
    background-color: #a1d1f1;
    padding: 1px;
    text-align: center;


    width: max-width;


}

.container{
  max-width
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


input[type=text] {
    border: 2px solid black;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #a1d1f1;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
<body>
<div class="header">
  <h2>FinAdmin</h2>
  <p>Provides detailed overview over the company finance</p>
</div>



<div class="topnav">
  <%= link_to "Input", root_path %>
  <%= link_to "Weekly", weekly_url %>
  <%= link_to "Group", mission1_url %>
  <%= link_to "Individual", mission_url %>
  <%= link_to "File", db_url %>
</div>  


<p id="notice"><%= notice %></p>



    <%= yield %>
  </body>
</html>
