<p id="notice"><%= notice %></p>

<h1>Periodics</h1>


<fieldset>
  <p>Introduce the Start/End date interval and truck:</p>  
    <div class="row">
      <div class="pull-right range-query">
        <%= form_tag mission6_path, :method => 'get' do %>
        <%= datetime_field_tag 'search[date_from]', @search.date_from %>
        <%= datetime_field_tag 'search[date_to]', @search.date_to %>
        <%= collection_select :search, :truck_id, Truck.all, :id, :NB_PLATE, {:include_blank => 'All Trucks'} %>
        <%= collection_select :search, :periodic_category_id, PeriodicsCategory.all, :id, :name, {:include_blank => 'All Periodics'} %>

        <%= submit_tag 'Display', class: 'btn search-button' %>  
        <% end %>
      </div>
    </div>
  </br>
</fieldset>
 <p> </p> 
<p> </p> 


<table>
  <thead>
    <tr>
      <th></th>
      <th>Periodics category</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Km start</th>
      <th>Driver ID </th>
      <th>Driver Name </th>
      <th>Truck</th>
      <th>Trailer</th>
      <th>Days valid</th>
      <th>Driver expense</th>
      <th>Truck expense</th>
      <th>Photos</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks = Truck.all %>
    <% @trailers = Trailer.all %>
    <% @drivers = Driver.all %>
    <% @periodics1 = PeriodicsCategory.all %>
    <% @periodics.each_with_index do |periodic,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= @periodics1.find(periodic.periodics_category_id).name %></td>
        <td><%= periodic.date_start %></td>
        <td><%= periodic.date_end %></td>
        <td><%= periodic.km_start %></td>
        <td><%= @drivers.find(periodic.DRIVER_id).CNP  %></td> 
        <td><%= @drivers.find(periodic.DRIVER_id).FIRSTNAME+ ' ' +
                @drivers.find(periodic.DRIVER_id).SECONDNAME %></td>

        <td>
          <% if @trucks and periodic.truck_id %>
            <%= @trucks.find(periodic.truck_id).NB_PLATE %>
          <% end %>
        </td>

        <td>
          <% if @trailers and periodic.trailer_id %>
            <%= @trailers.find(periodic.trailer_id).NB_PLATE %>  
          <% end %>
        </td>

        <td><%= periodic.days_valid %></td>
        <td><%= periodic.driver_expense_id %></td>
        <td><%= periodic.truck_expense_id %></td>
        <td><%= periodic.images.count %></td>
        <td><%= link_to 'Show', periodic %></td>
        <td><%= link_to 'Edit', edit_periodic_path(periodic) %></td>
        <td><%= link_to 'Destroy', periodic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Periodic', new_periodic_path %>
