<p id="notice"><%= notice %></p>

<p>
  <strong>Periodics category:</strong>
  <%= @periodic.periodics_category_id %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @periodic.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @periodic.date_end %>
</p>


<p>
  <strong>Km start:</strong>
  <%= @periodic.km_start %>
</p>

<p>
  <strong>Km end:</strong>
  <%= @periodic.km_end %>
</p>


<p>
  <strong>Driver:</strong>
  <%= @periodic.DRIVER_id %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @periodic.truck_id %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @periodic.trailer_id %>
</p>

<p>
  <strong>Days valid:</strong>
  <%= @periodic.days_valid %>
</p>

<p>
  <strong>Driver expense:</strong>
  <%= @periodic.driver_expense_id %>
</p>

<p>
  <strong>Truck expense:</strong>
  <%= @periodic.truck_expense_id %>
</p>



<br>

<table>
  <% @periodic.images.each_with_index do |image,index| %>

  <% if (index+1)%6 == 0 %>
     <tr>
  <% end %>
  <td> 
  <% if false %>
    <%= image_tag(url_for(image), height: '200', width: '200') %>
  <% end %>
        
        <% if  (image.blob!=nil and image.previewable?) %>
        <%= image.filename.to_s %>
        <br>  
        
          <%= image_tag(url_for(image.preview(resize: "200x200>")), height: '200', width: '200') %>
        
        <% if false %>
        <%= link_to(image_tag(image.preview(resize: "200x200>")),rails_blob_path(image, disposition: "attachment"))%>
        <% end %>

       <% elsif (image.blob !=nil and image.variable?)  %> 
        <%= image.filename.to_s %>
        <br>  
        
         <%= image_tag(url_for(image.variant(resize: "200x200>")), height: '200', width: '200') %>
     
       <% if false %>
       <%= link_to(image_tag(image.variant(resize: "200x200")),rails_blob_path(image, disposition: "attachment"))%>
       <% end %>

       <% else  %> 
       <%= image.filename.to_s %>
        <br>  
        
        <%= image_tag ("/assets/download.jpeg"), class: "img-responsive",  height: '200', width: '200' %>
      <% end %>
  <br>

  <%if image.blob !=nil  %>     
   <%= link_to 'Download', image, download: image %>
   <br>
   <%= link_to 'Remove', delete_image_periodic_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }%>
 <% end %>

</td>

<% if (index+1)%6 == 0 %>
     </tr>
<% end %>

<% end %>

</table>

<%= link_to 'Edit', edit_periodic_path(@periodic) %> |
<%= link_to 'Back', periodics_path %>
